.ac-container{
	width: 100%;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 10px;
}
.container #textos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #666;
	text-align: left;
	height: 60px;
	padding-top: 40px;
	padding-left: 80px;
	width: 850px;
}
.container #tit {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	color: #ED1C23;
	text-align: left;
	padding-top: 40px;
	padding-left: 80px;
	width: 870px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
}
.ac-container label{
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	z-index: 20;
	display: block;
	height: 30px;
	cursor: pointer;
	color: #DD3B2A;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	line-height: 33px;
	font-size: 19px;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
		0px 2px 2px rgba(0,0,0,0.1);
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-left: 20px;
	background-color: #F4F5F2;
}
.ac-container label:hover{
	background: #fff;
}
.ac-container input:checked + label,
.ac-container input:checked + label:hover{
	color: #F31A37;
	text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		0px 2px 2px rgba(0,0,0,0.1);
	background-color: #E5BBB1;
	font-family: Arial, Helvetica, sans-serif;
}
.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 7px;
	background-color: transparent;
	background-image: url(../images/arrow_down.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.ac-container input:checked + label:hover:after{
	background-image: url(../images/arrow_up.png);
}
.ac-container input{
	display: none;
}
.ac-container article{
	background: rgba(255, 255, 255, 0.5);
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.ac-container article p{
	color: #777;
	line-height: 20px;
	font-size: 14px;
	padding: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}
.ac-container input:checked ~ article{
	-webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}
.ac-container input:checked ~ article.ac-small{
			height: 200px; padding-top: 15px;
}
.ac-container input:checked ~ article.ac-medium{
	height: 630px;
}
.ac-container input:checked ~ article.ac-large{
	height: 630px;
}
.txtsvs {
	color: #777;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	padding-top: 15px;
	width: 100%;
	float: left;
	padding-bottom: 20px;
}
.ac-container article p {
	content:'';
}

.container{
	width: 100%;
	position: relative;
	float: left;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #999;
}

.container > header{
	padding: 20px 30px 10px 30px;
	margin: 0px 20px 10px 20px;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
}
.container > header h1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 35px;
	line-height: 35px;
	position: relative;
	color: #F00;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	padding: 0px 0px 5px 0px;
}
.container > header h1 span{
	color: #80B8CE;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
}
.container > 
.tituloReporte
{
    text-transform: lowercase;
    font-family: arial;
    font-size: 21px;
    color: red;
    font-weight: bold;
}

.newStyle{width: 100%;}

.tituloReporte
{
    text-transform: uppercase;
    font-family: Verdana;
    font-size: 18px;
    color: Black;
    font-weight: bold;
}

.newStyle{width: 100%;}


.hidden
{
    visibility:hidden;
    width:0px;
    display:none;
