ul{
	margin:0;
	padding:0;
	float: left;
}
ul.containera{
	/* The topmost UL */
	width:100%;
	padding:0px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	float: left;
}

li{
	list-style:none;
	text-align:left;
}
li.menu_acu{
	width:100%;
	padding-top: 2px;
	padding-right: 0;
	padding-bottom: 0px;
	padding-left: 0;
	float: left;
}

li.button a{
	/* The section titles */
	display:block;
	font-family:BPreplay, Arial, Helvetica, sans-serif;
	font-size:14px;
	height:18px;
	width:96%;
	padding-top: 10px;
	padding-right: 2%;
	padding-bottom: 0;
	padding-left: 2%;
	float: left;
}
li.button a:link {	/* The section titles */
	display:block;
	font-family:BPreplay, Arial, Helvetica, sans-serif;
	font-size:14px;
	height:20px;
	width:96%;
	padding-top: 10px;
	padding-right: 2%;
	padding-bottom: 0;
	padding-left: 2%;
	background-color: #DFDFDF;
	color: #000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666;
	text-decoration: none;
}
#int_acuerdo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	float: left;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 50px;
	width: 100%;
}
#tablas_acuerdo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	float: left;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 0px;
	width: 100%;
	padding-right: 0px;
	margin: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#acuerdo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	float: left;
	width: 100%;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#int_acuerdo1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	float: left;
	width: 30%;
	margin-right: 2%;
	margin-bottom: 5px;
	margin-top: 10px;
	padding-bottom: 5px;
}
#int_acuerdo2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	float: right;
	width: 30%;
	margin-right: 1%;
	margin-bottom: 5px;
	margin-top: 10px;
	padding-bottom: 5px;
}
.tabla_acuerdo {
	padding: 0px;
	color: #333;
	width: 100%;
	position: relative;
	border-collapse: 0;
	float: left;
	margin: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.td_tit {
	font-family: Arial, Helvetica, sans-serif; 
	font-weight: bold;
	font-size: 12px;
	float: left;
	height: 40px;
	width: 10%;
	padding-top: 10px;
	line-height: 20px;
	font-weight: normal;
	color: #000;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #CCC;
	border-bottom-color: #333;
	padding-left: 1%;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
}
.td_tit1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	height: 25px;
	width: 10%;
	padding-top: 10px;
	line-height: 20px;
	font-weight: normal;
	color: #000;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #CCC;
	border-bottom-color: #999;
	padding-left: 1%;
	text-align: center;
}

.td_titc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	height: 40px;
	width: 6%;
	padding-top: 10px;
	line-height: 20px;
	font-weight: normal;
	color: #000;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #CCC;
	border-bottom-color: #333;
	padding-left: 1%;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
}
.td_titc1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	height: 25px;
	width: 6%;
	padding-top: 10px;
	line-height: 20px;
	font-weight: normal;
	color: #000;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #CCC;
	border-bottom-color: #999;
	padding-left: 1%;
	text-align: center;
}
.td_tit1 > input, .td_titc1 > input
{
    width: 90%;
    border: none;
    text-align:right;
}
.td_espe {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	height: 40px;
	width: 40%;
	padding-top: 10px;
	line-height: 20px;
	font-weight: bold;
	color: #333;
	margin: 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #333;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCC;
	padding-left: 1%;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCC;
}
.td_espe1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	height: 25px;
	width: 40%;
	padding-top: 10px;
	line-height: 20px;
	font-weight: normal;
	color: #333;
	margin: 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCC;
	padding-left: 1%;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCC;
}

.td_espev {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	height: 40px;
	width: 60%;
	padding-top: 10px;
	line-height: 20px;
	font-weight: bold;
	color: #333;
	margin: 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #333;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCC;
	padding-left: 1%;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCC;
}
.td_espev1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	height: 25px;
	width: 60%;
	padding-top: 10px;
	line-height: 20px;
	font-weight: normal;
	color: #333;
	margin: 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCC;
	padding-left: 1%;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCC;
}

.td_espesin {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	height: 40px;
	width: 84%;
	padding-top: 10px;
	line-height: 20px;
	font-weight: bold;
	color: #333;
	margin: 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #333;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCC;
	padding-left: 1%;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCC;
}
.td_espesin1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	height: 25px;
	width: 84%;
	padding-top: 10px;
	line-height: 20px;
	font-weight: normal;
	color: #333;
	margin: 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCC;
	padding-left: 1%;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCC;
}



li.button a:hover{
	/* Removing the inherited underline from the titles */
	text-decoration:none;
	background-color: #C22210;
	color: #FFF;
}
li.button a:active {	/* Removing the inherited underline from the titles */
	text-decoration:none;
	background-color: #C22210;
}

li.button a span{
	/* This span acts as the right part of the section's background */
	height:44px;
	position:absolute;
	right:0;
	top:0;
	width:4px;
	display:block;
}

li.button a.orange{
	color:#333;
	background-color: #ECA582;
}
li.button a.orange span{ background:url(../img/orange.png) repeat-x top right;}

/* The hover effects */

li.button a:hover{
	background-position:left bottom;
	background-color: #C03;
	color: #FFF;
	text-decoration: none;
}
li.button a:hover span{ background-position:bottom right;}

.dropdown{
	/* The expandable lists */
	display:none;
	padding-top:5px;
	width:100%;
	float: left;
}

.dropdown li{
	/* Each element in the expandable list */
	background-color:#373128;
	color:#CCCCCC;
	margin-top: 5px;
	margin-right: 0;
	margin-bottom: 5px;
	margin-left: 0;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 0px;
	padding-left: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	float: left;
}

.clear{
	clear:both;
}

#main{
	text-align:center;
	width:100%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 15px;
	margin-left: auto;
	float: left;
}

p{
	/* The .ut info on the bottom of the page */
	padding:10px;
	text-align:center;
}
.acu_100 {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 5px;
	/*height: 35px;*/
}
.pre_100
{
    border: 1px solid #CCCCCC;
    float: left;
    width: 96%;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 2%;
    padding-left: 2%;
}
.pre_100v
{
    border-style: none;
    float: left;
    width: 96%;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 2%;
    padding-left: 2%;
}
.titac_servicio {
	font-size: 14px;
	color: #333;
	background-color: #e9e8e8;
	padding-top: 15px;
	padding-left: 2%;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666;
	margin-top: 2px;
	float: left;
	width: 98%;
	font-family: Arial, Helvetica, sans-serif;
}
