body {margin-top: 0px;background-image: url(../img/fondo.png);margin-left: 0px;
margin-right: auto;margin-bottom: auto;}
#cuerpo {float: left;width: 100%;height: 100%;position: absolute;}


.numeracion{float: left;margin-right:5px;}


#wrapper {  
    width: 100%;
    margin: auto;
}



#menu
{
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    border-right-width: 7px;
    border-right-style: solid;
    border-right-color: #C6C5C5;
}



#ser_tabla1
{width: 100%;float: left;}
	
#ser_tabla1_tit
{
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #333;
	padding-top: 25px;
	padding-bottom: 2px;
	padding-left: 2%;
	width: 98%;
	}
	
	#ser_tabla1_txt
{
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: 400;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-left: 2%;
	width: 98%;
	}

#menu_pri
{
    float: left;
    height: auto;
    width: 15%;
    background-color: #F31A37;
    padding-top: 80px;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-right-width: 7px;
    border-right-style: solid;
    border-right-color: #C6C5C5;
    padding-bottom: 50px;
}
.principal {
	width: 97%;
	font-size: 15px;
	float: left;
	/*height: 30px;*/
	padding-top: 15px;
	color: #000;
	background-color: #C6C5C5;
	padding-left: 8px;
}
#menu li.active ul  
{
    display: block; 
}
#menu li.active  
{
    width: 97%;
	font-size: 15px;
	float: left;
	/*height: 30px;*/
	padding-top: 15px;
	color: #000;
	background-color: #C6C5C5;
	padding-left: 8px;
}
#submenu
{
    padding-left:10px;    
    width:95%;
    height: auto;
}

.btn_principal a{
	width: 14%;
	font-size: 15px;
	float: left;
	height: 25px;
	padding-top: 15px;
	color: #FFF;
	padding-left: 8px;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
}
.btn_principal a:hover {
	width: 14%;
	font-size: 15px;
	float: left;
	height: 25px;
	padding-top: 15px;
	color: #000;
	padding-left: 8px;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
	background-color: #C6C5C5;
}
.btn_principal a:active {
	width: 14%;
	font-size: 15px;
	float: left;
	height: 25px;
	padding-top: 15px;
	color: #000;
	padding-left: 8px;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
	background-color: #C6C5C5;
}
#menuv .bot {
	text-decoration: none;
	font-size: 14px;
	padding-left: 15px;
	padding-top: 20px;
	float: left;
	width: 191px;
	font-weight: normal;
}
#menu .boton a {
	text-decoration: none;
	font-size: 13px;
	padding-left: 25px;
	padding-top: 20px;
	float: left;
	width: 181px;
	font-weight: normal;
	color: #FFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
	padding-bottom: 5px;
}
#menu .boton a:visited {
	text-decoration: none;
	font-size: 13px;
	padding-left: 25px;
	padding-top: 20px;
	float: left;
	width: 181px;
	font-weight: normal;
	color: #FFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
}
#menu .boton a:hover {
	text-decoration: none;
	font-size: 13px;
	padding-left: 25px;
	padding-top: 20px;
	float: left;
	width: 181px;
	font-weight: normal;
	color: #FFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
	background-color: #7d0d1c;
}
#menu .boton_on {
	text-decoration: none;
	font-size: 13px;
	padding-left: 25px;
	padding-top: 20px;
	float: left;
	width: 175px;
	font-weight: normal;
	color: #FFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
	background-color: #7d0d1c;
	padding-bottom: 5px;
}
#menu .boton a:active {
	text-decoration: none;
	font-size: 13px;
	padding-left: 25px;
	padding-top: 20px;
	float: left;
	width: 181px;
	font-weight: normal;
	color: #FFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
	background-color: #7d0d1c;
}

#header {
	width: 600px;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	margin-left: 50px;
	height: 70px;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-position: 700px 35px;
}
#usuario {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 200px;
	float: left;
	padding-top: 15px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #C6C5C5;
	color: #FFF;
	margin-right: 5px;
}

#usuario2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	color: #FFF;
	margin-right: 5px;
}
#btn_acceso a {
	width: 150px;
	float: left;
	font-size: 12px;
	color: #FFF;
	text-decoration: none;
	background-color: #000;
	padding-left: 10px;
	padding-top: 15px;
	padding-right: 10px;
	padding-bottom: 5px;
	margin-right: 4px;
}
#btn_acceso a:visited {
	width: 150px;
	float: left;
	font-size: 12px;
	color: #FFF;
	text-decoration: none;
	background-color: #000;
	padding-left: 10px;
	padding-top: 15px;
	padding-right: 10px;
	padding-bottom: 5px;
	margin-right: 4px;
}
#btn_acceso a:hover {
	width: 150px;
	float: left;
	font-size: 12px;
	color: #FFF;
	text-decoration: none;
	background-color: #F31A37;
	padding-left: 10px;
	padding-top: 15px;
	padding-right: 10px;
	padding-bottom: 5px;
	margin-right: 4px;
}
#btn_acceso a:active {
	width: 150px;
	float: left;
	font-size: 12px;
	color: #FFF;
	text-decoration: none;
	background-color: #F31A37;
	padding-left: 10px;
	padding-top: 15px;
	padding-right: 10px;
	padding-bottom: 5px;
	margin-right: 4px;
}
#contenido {
	width: 75%;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	margin-left: 50px;
	margin-top: 10px;
}
#titulos {
	font-size: 14px;
	color: #333;
	background-color: #e9e8e8;
	padding-top: 15px;
	padding-left: 1%;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666;
	margin-top: 2px;
	float: left;
	width: 99%;
}
#botones {
	font-size: 14px;
	color: #333;
	padding-left: 10px;
	padding-bottom: 5px;
	float: left;
	width: 95%;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999;
	padding-top: 0px;
	text-align: right;
	height: 40px;
}
#apertura {
	font-size: 16px;
	color: #F31A37;
	padding-top: 15px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
	padding-left: 1%;
	width: 99%;
	height: 20px;
}

.apertura {
	font-size: 16px;
	color: #F31A37;
	padding-top: 15px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
	padding-left: 10px;
	width: 100%;
}

#apertura2 {
	font-size: 16px;
	color: #F31A37;
	padding-top: 15px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
	padding-left: 1%;
	width: 99%;
}

.apertura2 {
	font-size: 16px;
	color: #F31A37;
	padding-top: 15px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
	padding-left: 10px;
	width: 100%;
}

#menu li{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
}
#menu ul li,
#menu li:last-child
{
    border:none
}	
a{
	display:block;
	color:#FFF;
	text-decoration:none;
	font-family:"Lucida Grande", sans-serif;
	font-size:13px;
	padding-top: 15px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
}
#menu a:hover{
	color:#FFF;
	-webkit-transition: color 0.2s linear;
	background-color: #7d0d1c;
}
.sec_btn_on {
	color:#FFF;
	-webkit-transition: color 0.2s linear;
	background-color: #7d0d1c;
}
#menu ul a
{
	border-color: #C0C0C0;
	background-color: #F31A37;
	font-size: 12px;
	padding-left: 10px;
}
#menu ul a:hover{
	background-color:#FFF;
	color:#000;
	font-size: 12px;
    text-shadow:none;
	-webkit-transition: color, background-color 0.2s linear;
}
ul{
	display:block;
	margin:0;
	padding:0;
	width:100%;
	list-style:none;
}
#menu ul
{
    background-color:#F31A37;
    }
#menu li ul {display:none;}
span{float: left;margin-right:5px;}
.p-input
{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	width: 30%;
	float: left;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 3px;
}
#buscar a:link{
	font-size: 12px;
	color: #FFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	width: 16%;
	float: left;
	padding-top: 12px;
	padding-left: 10px;
	height: 18px;
	background-color: #666;
	padding-bottom: 3px;
	margin-top: 2px;
	margin-left: 0px;
}
#buscar a:hover{
	font-size: 12px;
	color: #FFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	width: 16%;
	float: left;
	padding-top: 12px;
	padding-left: 10px;
	height: 18px;
	background-color: #ED1C23;
	margin-top: 2px;
	padding-bottom: 3px;
}
/*input
{
	border: 1px outset #E9E9E9;
	color: #F00;
	width: 95%;
	float: left;
	height: 85%;
	text-align: left;
	margin-top: -10px;
	background-color: #F3F3F3;
	padding-top: 6px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 5px;
	font-size: 13px;
}*/
.regreso_3 {
	font-size: 12px;
	color: #999;
	width: 31%;
	float: left;
	padding-top: 15px;
	padding-left: 1.3%;
	padding-bottom: 3px;
	margin-right: 1%;
}
.regreso_2 {
	font-size: 12px;
	color: #999;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	width: 64%;
	float: left;
	padding-top: 15px;
	padding-left: 1%;
	padding-bottom: 3px;
	margin-right: 1%;
}


.regreso_2b {
	font-size: 12px;
	color: #999;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	width: 64%;
	float: left;
	padding-top: 10px;
	padding-left: 1%;
	padding-bottom: 3px;
	margin-right: 1%;
}

.regreso_select {
	font-size: 12px;
	color: #999;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	width: 64%;
	float: left;
	padding-top: 10px;
	padding-left: 1%;
	padding-bottom: 3px;
	margin-right: 1%;
}
#regreso_1 {
	font-size: 12px;
	color: #999;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	width: 48%;
	float: left;
	padding-top: 15px;
	padding-left: 1%;
	padding-bottom: 3px;
	margin-right: 1%;
}
.tabla3{
	padding: 0px;
	color: #000;
	width: 100%;
	margin-top: 25px;
	position: relative;
	border-collapse: 0;
	float: left;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	border: 0px solid #C6C5C5;
}



.tabla_repo{
	padding: 0px;
	color: #000;
	width: 100%;
	margin-top: 25px;
	position: relative;
	border-collapse: 0;
	float: left;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
	border: 1px solid #C6C5C5;
}
.tabla_acu {
	padding: 0px;
	color: #000;
	width: 100%;
	margin-top: 25px;
	position: relative;
	border-collapse: 0;
	float: left;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	border: 1px none #C6C5C5;
}


.tablaprinc{
	padding: 0px;
	color: #000;
	width: 100%;
	margin-top: 0px;
	position: relative;
	border-collapse: 0;
	float: left;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	border: 1px solid #C6C5C5;
}

.tabla_font{
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #333;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-right: 2%;
	padding-left: 2%;
}
.tabla_font2 {
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #999;
	padding-right: 1%;
	padding-left: 1%;
}
.tabla_admin{
	padding: 0px;
	border-style: none;
	color: #333;
	width: 100%;
	position: relative;
	border-collapse: 0;
	float: left;
	margin-top: 0;
	margin-bottom: 20px;
	margin-right: 0px;
	margin-left: 0px;
}

.tabla_admin2{
	padding: 0px;
	color: #333;
	width: 100%;
	position: relative;
	border-collapse: 0;
	float: left;
	margin-top: 0;
	margin-bottom: 20px;
	margin-right: 0px;
	margin-left: 0px;
	border-top-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #999;
}

.error{padding: 2%;width: 100%;margin-top: 25px;position: relative;float: left;margin-bottom: 3%;}

.error2{padding: 2%;color: #F00;width: 100%;position: relative;border-collapse: 0;float: left;border: 1px solid #F00;line-height: 13px;}
.titbusqueda {font-size: 12px;color: #999;border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #CCC;width: 20%;float: left;padding-top: 15px;padding-left: 10px;padding-bottom: 3px;}
.selectbusqueda {
	font-size: 12px;
	color: #F31A37;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	width: 76%;
	float: left;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 3px;
}
.empbusqueda {
	font-size: 12px;
	color: #F31A37;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	width: 75%;
	float: left;
	height: 20px;
}
#campo {
	float: left;
	width: 30%;
	margin-right: 5px;
}
.campo {
	float: left;
	font-size: 12px;
	color: #999;
	padding-top: 10px;
	padding-bottom: 3px;
	width: 19%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666;
	padding-left: 2%;
	height: 17px;
}

.campo_p {
	float: left;
	font-size: 12px;
	color: #999;
	padding-top: 10px;
	padding-bottom: 3px;
	width: 22%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
	padding-left: 2%;
	height: 17px;
}

#pe_campo {
	font-size: 12px;
	color: #000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	width: 32%;
	float: left;
	padding-top: 10px;
	padding-left: 1%;
	padding-bottom: 3px;
	height: 17px;
}
#pe_spacer {
	font-size: 11px;
	color: #000;
	width: 32%;
	float: left;
	padding-top: 15px;
	padding-left: 1%;
	padding-bottom: 3px;
}
#spacer {
	float: left;
	width: 195px;
	margin-right: 5px;
	height: 32px;
}
#campob {
	float: left;
	width: 190px;
	font-size: 12px;
	color: #999;
	padding-top: 15px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
#campo_spacer {
	float: left;
	width: 200px;
	font-size: 12px;
	color: #999;
	padding-top: 13px;
	padding-bottom: 5px;
	height: 15px;
}
.campo2 {
	float: left;
	width: 295px;
	margin-right: 5px;
}
.campo4 {
	float: left;
	width: 47%;
	margin-right: 1%;
	padding-left: 2%;
}
.campo3 {
	float: left;
	width: 395px;
	margin-right: 5px;
}
.campo3b {
	float: left;
	width: 395px;
	margin-right: 5px;
	padding-top: 12px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	padding-bottom: 3px;
}
#busqueda {
	float: left;
	width: 595px;
	margin-right: 5px;
	padding-bottom: 5px;
	padding-top: 10px;
	margin-top: 20px;
}
#tabla {
	float: left;
	width: 595px;
	margin-right: 5px;
	padding-bottom: 5px;
	padding-top: 10px;
}
.celda1 {
	float: left;
	width: 100%;
	color: #FFF;
	background-color: #666;
	text-align: left;
	font-size: 11px;
	vertical-align: middle;
	padding-top: 5px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}


.celdat {
	float: left;
	width: 100%;
	color: #FFF;
	background-color: #666;
	text-align: left;
	font-size: 11px;
	vertical-align: middle;
	padding-top: 5px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.columna1 {
	float: left;
	width: 4%;
	height: 30px;
	padding-top: 8px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFF;
	text-align: center;
	padding-left: 1%;
	font-size: 9px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	padding-bottom: 2px;
	border-top-style: none;
	border-left-style: none;
}

.columna1a {
	float: left;
	width: 4%;
	height: 30px;
	padding-top: 8px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFF;
	text-align: center;
	padding-left: 1%;
	font-size: 9px;
	border-bottom-style: none;
	padding-bottom: 2px;
	border-top-style: none;
	border-left-style: none;
}


.columna05 {
	float: left;
	width: 1%;
	height: 30px;
	padding-top: 8px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFF;
	text-align: center;
	padding-left: 1%;
	font-size: 9px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	padding-bottom: 2px;
	border-top-style: none;
	border-left-style: none;
}

.columna05a {
	float: left;
	width: 1%;
	height: 30px;
	padding-top: 8px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #666;
	text-align: center;
	padding-left: 1%;
	font-size: 9px;
	border-bottom-style: none;
	padding-bottom: 2px;
	border-top-style: none;
	border-left-style: none;
}

.columna2 {
	float: left;
	width: 9%;
	height: 30px;
	padding-top: 8px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFF;
	padding-left: 1%;
	font-size: 9px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	text-align: left;
	padding-bottom: 2px;
	border-top-style: none;
	border-left-style: none;
}

.columna2a {
	float: left;
	width: 9%;
	height: 30px;
	padding-top: 8px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFF;
	padding-left: 1%;
	font-size: 9px;
	border-bottom-style: none;
	text-align: left;
	padding-bottom: 2px;
	border-top-style: none;
	border-left-style: none;
}

.columna9 {
	float: left;
	width: 25%;
	height: 30px;
	padding-top: 8px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFF;
	padding-left: 1%;
	font-size: 9px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	text-align: left;
	padding-bottom: 2px;
	border-top-style: none;
	border-left-style: none;
}

.columna7 {
	float: left;
	width: 7%;
	height: 30px;
	padding-top: 8px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFF;
	padding-left: 1%;
	font-size: 9px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	text-align: left;
	padding-bottom: 2px;
	border-top-style: none;
	border-left-style: none;
}

.columna7a {float: left;width: 7%;height: 30px;padding-top: 8px;border-right-width: 1px;border-right-style: solid;border-right-color: #FFF;padding-left: 1%;font-size: 9px;border-bottom-style: none;text-align: left;padding-bottom: 2px;border-top-style: none;border-left-style: none;}

.columna3 {
	float: left;
	width: 21%;
	height: 30px;
	padding-top: 15px;
	text-align: center;
	font-size: 10px;
}
.columna5 {
	float: left;
	width: 13%;
	height: 30px;
	padding-top: 8px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFF;
	padding-left: 1%;
	font-size: 9px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	text-align: left;
	border-top-style: none;
	border-left-style: none;
	padding-bottom: 2px;
}

.columna_per {
	float: left;
	width: 50%;
	height: 30px;
	padding-top: 8px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFF;
	padding-left: 1%;
	font-size: 9px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	text-align: left;
	border-top-style: none;
	border-left-style: none;
	padding-bottom: 2px;
}
.columna5a {
	float: left;
	width: 13%;
	height: 30px;
	padding-top: 8px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFF;
	padding-left: 1%;
	font-size: 9px;
	border-bottom-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #999;
	text-align: left;
	border-top-style: none;
	border-left-style: none;
	padding-bottom: 2px;
}

.columna6 {
	float: left;
	width: 11%;
	height: 30px;
	padding-top: 8px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFF;
	padding-left: 1%;
	font-size: 9px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	border-top-style: none;
	border-left-style: none;
	padding-bottom: 2px;
}


.columna6a {
	float: left;
	width: 11%;
	height: 30px;
	padding-top: 8px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFF;
	padding-left: 1%;
	font-size: 9px;
	border-bottom-width: 1px;
	border-bottom-style: none;
	border-top-style: none;
	border-left-style: none;
	padding-bottom: 2px;
}

.regreso {
	width: 5%;
	color: #ED1C23;
	text-decoration: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.btn_iconos {
	width: 24px;
	text-decoration: none;
	height: 31px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	float: left;
	border-bottom-width: 1px;
	border-bottom-color: #999;
	padding-top: 6px;
	padding-right: 2px;
	padding-bottom: 3px;
	padding-left: 2px;
}


.eliminar {
	text-decoration: none;
	background-image: url(../iconos/delete.png);
	background-repeat: no-repeat;
	padding-top: 20px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.pozo {
	text-decoration: none;
	background-image: url(../iconos/pozo.png);
	background-repeat: no-repeat;
	padding-top: 20px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.bonif {
	text-decoration: none;
	background-image: url(../iconos/rem_cero.png);
	background-repeat: no-repeat;
	padding-top: 20px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.unirTS {
	text-decoration: none;
	background-image: url(../iconos/unir.png);
	background-size: 24px;
	background-repeat: no-repeat;
	padding-top: 20px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.editar {
	text-decoration: none;
	background-image: url(../iconos/editar.png);
	background-repeat: no-repeat;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-top: 20px;
}

.permiso {
	text-decoration: none;
	background-image: url(../iconos/candado.png);
	background-repeat: no-repeat;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-top: 20px;
}
.subir {
	text-decoration: none;
	background-image: url(../img/subir.png);
	background-repeat: no-repeat;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-top: 20px;
	cursor:pointer;
}

/*input[type="file"]{
z-index: 999;
line-height: 0;
font-size: 50px;
position: absolute;
opacity: 0;
filter: alpha(opacity = 0);-ms-filter: "alpha(opacity=0)";
margin: 10px;
padding:0;
left:0;
}
*/

.ver {text-decoration: none;background-image: url(../iconos/ver.png);background-repeat: no-repeat;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;padding-top: 20px;}
.mensual {text-decoration: none;
          background-image: url(../iconos/mensual.png);
          background-repeat: no-repeat;
          border-top-style: none;
          border-right-style: none;
          border-bottom-style: none;border-left-style: none;padding-top: 20px;}
.oti {text-decoration: none;background-image: url(../iconos/oti.png);background-repeat: no-repeat;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;padding-top: 20px;}
.alerta {text-decoration: none;background-image: url(../iconos/alerta.png);background-repeat: no-repeat;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;padding-top: 20px;}

.regresar {text-decoration: none;background-image: url(../iconos/regreso.png);background-repeat: no-repeat;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;padding-top: 20px;}

.equipo {text-decoration: none;background-image: url(../iconos/equipo.png);background-repeat: no-repeat;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;padding-top: 20px;}


.regreso a:link{width: 100%;color: #ED1C23;text-decoration: none;}
.regreso a:visited {width: 100%;color: #F00;text-decoration: none;}
.regreso a:hover {width: 100%;color: #FFF;text-decoration: none;background-color: #ED1C23;}
.regreso a:active {
	width: 100%;
	color: #FFF;
	text-decoration: none;
	background-color: #ED1C23;
}

.columnav {
	float: left;
	width: 6%;
	height: 20px;
	padding-top: 5px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFF;
	padding-left: 1%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
	padding-bottom: 5px;
	padding-right: 2%;
	border-top-style: none;
	border-left-style: none;
}

.columnav_2 {
	float: left;
	width: 55%;
	height: 50px;
	padding-top: 5px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFF;
	padding-left: 1%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
	padding-bottom: 5px;
	padding-right: 2%;
}
.celda2 {
	float: left;
	width: 100%;
	color: #000;
	font-size: 12px;
	text-align: center;
}

select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	background-color:#FFF;
	width: 95%;
	margin-left: 10px;
	float: left;
	margin-top: 0px;
}

option {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #888;
	background-color:#FFF;
}
option.impar {}
option.par {} 
.btn_form {
	text-align: center;
	color: #FFF;
	font-size: 11px;
	background-color: #F31A37;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-top: 7px;
	height: 30px;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-left: 15px;
	margin-right: 5px;
}
.celda50
{
	width: 48%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	float: left;
	padding-top: 15px;
	padding-left: 1%;
	padding-bottom: 5px;
	height: 35px;
	border-top-style: none;
	border-right-style: solid;
	border-left-style: none;
	border-right-width: 1%;
	border-right-color: #C6C5C5;
}
.celda60 {
	width: 58%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	float: left;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 5px;
	height: 35px;
	border-top-style: none;
	border-right-style: solid;
	border-left-style: none;
	border-right-width: 1px;
	border-right-color: #C6C5C5;
}
.celda70 {
	width: 68%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	float: left;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 5px;
	height: 35px;
	font-variant: small-caps;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-right-width: 1px;
	border-right-color: #C6C5C5;
}


.celda80 {
	width: 78%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	float: left;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 5px;
	height: 35px;
	font-variant: small-caps;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-right-width: 1px;
	border-right-color: #C6C5C5;
}
.celda40 {
	width: 38%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	float: left;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 5px;
	height: 35px;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-right-width: 1px;
	border-right-color: #C6C5C5;
}
.celda30 {
	width: 27%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	float: left;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 5px;
	height: 35px;
	min-height:20px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-color: #C6C5C5;
	border-bottom-color: #C6C5C5;
	border-top-style: none;
}


.celda35 {
	width: 34%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	float: left;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 5px;
	height: 35px;
	min-height:20px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-color: #C6C5C5;
	border-bottom-color: #C6C5C5;
	border-top-style: none;
}



.celda25 {
	width: 20%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	float: left;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 5px;
	height: 35px;
	min-height:20px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-color: #C6C5C5;
	border-bottom-color: #C6C5C5;
	border-top-style: none;
}
		  
.celda_ss3{
	width: 48%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	float: left;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 5px;
	height: 35px;
	min-height:20px;
}
		  
.cel_btnadmin {
	width: 27%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 5px;
	height: 35px;
	min-height:20px;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #C6C5C5;
	border-top-style: none;
	text-align: left;
}
.celda20
{
	width: 16%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	float: left;
	padding-top: 15px;
	padding-left: 1%;
	padding-bottom: 5px;
	min-height:20px;
	height:35px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-color: #C6C5C5;
	border-bottom-color: #C6C5C5;
	border-top-style: none;
}

.celda_ss2
{
	width: 25%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	float: left;
	padding-top: 15px;
	padding-left: 1%;
	padding-bottom: 5px;
	min-height:20px;
	height:35px;
}

.celda_alto
{
	float: left;
	min-height:20px;
	height:90px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-color: #C6C5C5;
	border-bottom-color: #C6C5C5;
	border-top-style: none;
}

.celda20tipo
{
	width: 16%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	float: left;
	padding-top: 15px;
	padding-left: 1%;
	padding-bottom: 5px;
	min-height:20px;
	height:60px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-color: #C6C5C5;
	border-bottom-color: #C6C5C5;
	border-top-style: none;
}

.celda15
{
	width: 13%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	float: left;
	padding-top: 15px;
	padding-left: 5px;
	padding-bottom: 5px;
	min-height:20px;
	height:35px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-color: #C6C5C5;
	border-bottom-color: #C6C5C5;
	border-top-style: none;
}

.celda15s
{
	width: 13%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	float: left;
	padding-top: 15px;
	padding-left: 5px;
	padding-bottom: 5px;
	min-height:20px;
	height:60px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-color: #C6C5C5;
	border-bottom-color: #C6C5C5;
	border-top-style: none;
}

.celda10
{
	width: 7%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	float: left;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 5px;
	height: 35px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-color: #C6C5C5;
	border-bottom-color: #C6C5C5;
	border-top-style: none;
}




.celda14
{
	width: 9%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	float: left;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 5px;
	height: 35px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-color: #C6C5C5;
	border-bottom-color: #C6C5C5;
	border-top-style: none;
}


.celda14t
{
	width: 9%;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 5px;
	text-align: left;
	text-transform: uppercase;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #333;
	height: 35px;
	background-color: #C6C5C5;
	border-right-width: 1px;
	border-right-color: #FFF;
}


.celda10s
{
	width: 7%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	float: left;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 5px;
	height: 60px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-color: #C6C5C5;
	border-bottom-color: #C6C5C5;
	border-top-style: none;
}
.celda_ss1
{
	width: 8%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	float: left;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 5px;
	height: 35px;	
}

.celda12
{
	width: 8%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	float: left;
	padding-top: 15px;
	padding-left: 8ssfpx;
	padding-bottom: 5px;
	height: 35px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-color: #C6C5C5;
	border-bottom-color: #C6C5C5;
	border-top-style: none;
}

.celda5
{
	width: 5%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	float: left;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 5px;
	height: 35px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-color: #C6C5C5;
	border-bottom-color: #C6C5C5;
	border-top-style: none;
}

.celda5t
{
	width: 5%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 5px;
	height: 35px;
	background-color: #C6C5C5;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-color: #FFFFFF;
	border-bottom-color: #000000;
	border-top-style: none;
	font-weight: bold;
}
.celda10tipo
{
	width: 7%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	float: left;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 5px;
	height: 60px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-color: #C6C5C5;
	border-bottom-color: #C6C5C5;
	border-top-style: none;
}



.celda_box
{
	width: 5%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
	height: 15px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-color: #C6C5C5;
	border-left-color: #C6C5C5;
	border-top-style: none;
	border-right-style: none;
}

.celda_boxt {
	width: 5%;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #F00;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 5px;
	text-align: left;
	text-transform: uppercase;
	background-color: #C6C5C5;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #C6C5C5;
	border-right-width: 1px;
	border-right-color: #C6C5C5;
}

.celda_boxtit {
	width: 75%;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #F00;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 5px;
	text-align: left;
	border-right-style: none;
	border-bottom-style: none;
	border-top-style: none;
	border-left-style: none;
	text-transform: uppercase;
	background-color: #C6C5C5;
}

.celda_box1 {
	width: 75%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
	height: 15px;
	font-variant: small-caps;
	border-top-style: none;
	border-right-style: solid;
	border-left-style: none;
	border-right-width: 1px;
	border-right-color: #C6C5C5;
}


.cel_trans20
{
	width: 27%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	float: left;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 5px;
	height: 35px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #C6C5C5;
	border-top-style: none;
	border-right-width: 1px;
	border-right-color: #C6C5C5;
}

.cel_trans20t
{
	width: 27%;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	padding-top: 15px;
	padding-left: 12px;
	padding-bottom: 5px;
	text-align: left;
	text-transform: uppercase;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #333;
	background-color: #C6C5C5;
	height: 35px;
	border-right-width: 1px;
	border-right-color: #FFF;
}


.cel_trans15
{
	width: 12%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	float: left;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 5px;
	height: 35px;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #C6C5C5;
	border-top-style: none;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #C6C5C5;
}

.cel_trans15t
{
	width: 12%;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 5px;
	text-align: left;
	text-transform: uppercase;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #333;
	background-color: #C6C5C5;
	height: 35px;
	border-right-width: 1px;
	border-right-color: #FFF;
}

.celda_admintt {
	width: 65%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	float: left;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 5px;
	height: 35px;
	border-top-style: none;
	border-right-style: solid;
	border-left-style: none;
	border-left-width: 1px;
	border-left-color: #C6C5C5;
	border-right-width: 1px;
	border-right-color: #C6C5C5;
}
.celda_admint {
	width: 65%;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 5px;
	text-align: left;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #FFF;
	border-bottom-color: #333;
	border-top-style: none;
	border-left-style: none;
	text-transform: uppercase;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-color: #C6C5C5;
	border-left-color: #C6C5C5;
	height: 35px;
	background-color: #C6C5C5;
}

.cel_btnadmint {
	width: 27%;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #F00;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 5px;
	text-align: left;
	text-transform: uppercase;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #333;
	height: 35px;
	background-color: #C6C5C5;
}

.celda_tiposerv {
	width: 28%;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	padding-top: 15px;
	padding-left: 2%;
	padding-bottom: 5px;
	text-align: left;
	text-transform: uppercase;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #C6C5C5;
	height: 60px;
}

.celda_tiposerv2 {
	width: 33%;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	font-size: 12px;
	font-weight: normal;
	color: #000;
	padding-top: 10px;
	padding-left: 2%;
	padding-bottom: 5px;
	text-align: left;
	text-transform: uppercase;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #C6C5C5;
	height: 60px;
}

.celda_tipo5{
	border: 1px solid #C6C5C5;
	width: 18%;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #F00;
	padding-top: 15px;
	padding-left: 2%;
	padding-bottom: 5px;
	text-align: left;
	text-transform: uppercase;
}


.celda70t {
	width: 68%;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 5px;
	text-align: left;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #FFF;
	border-bottom-color: #333;
	border-top-style: none;
	border-left-style: none;
	text-transform: uppercase;
	background-color: #C6C5C5;
	height: 35px;
	border-right-width: 1px;
}

.celda80t {
	width: 78%;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 5px;
	text-align: left;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #FFF;
	border-bottom-color: #333;
	border-top-style: none;
	border-left-style: none;
	text-transform: uppercase;
	background-color: #C6C5C5;
	height: 35px;
	border-right-width: 1px;
}
.celda40t {
	width: 38%;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 5px;
	border-top-style: none;
	border-top-width: 1px;
	border-top-color: #C6C5C5;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #333;
	text-align: left;
	border-right-style: solid;
	border-left-style: none;
	background-color: #C6C5C5;
	height: 35px;
	border-right-width: 1px;
	border-right-color: #FFF;
}
.celda50t {
	width: 48%;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	padding-top: 15px;
	padding-left: 1%;
	padding-bottom: 5px;
	border-top-style: none;
	border-top-width: 1px;
	border-top-color: #C6C5C5;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #333;
	text-align: left;
	border-right-style: solid;
	border-left-style: none;
	background-color: #C6C5C5;
	height: 35px;
	border-right-width: 1%;
	border-right-color: #FFF;
}
.celda60t {
	width: 58%;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 5px;
	border-top-style: none;
	border-top-width: 1px;
	border-top-color: #C6C5C5;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #333;
	text-align: left;
	border-right-style: solid;
	border-left-style: none;
	background-color: #C6C5C5;
	height: 35px;
	border-right-width: 1px;
	border-right-color: #FFF;
}
.celda30t {
	width: 27%;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 5px;
	text-align: left;
	text-transform: uppercase;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #C6C5C5;
	border-right-color: #FFF;
	border-bottom-color: #333;
	border-left-color: #C6C5C5;
	height: 35px;
	background-color: #C6C5C5;
}


.celda35t {
	width: 34%;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 5px;
	text-align: left;
	text-transform: uppercase;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #C6C5C5;
	border-right-color: #FFF;
	border-bottom-color: #333;
	border-left-color: #C6C5C5;
	height: 35px;
	background-color: #C6C5C5;
}

.celda30st {
	width: 27%;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	font-size: 11px;
	font-weight: bold;
	color: #000;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 5px;
	text-align: left;
	text-transform: uppercase;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #C6C5C5;
	border-right-color: #C6C5C5;
	border-bottom-color: #C6C5C5;
	border-left-color: #C6C5C5;
}

.celda30s {
	width: 27%;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	font-size: 10px;
	font-weight: normal;
	color: #000;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
	text-align: left;
	text-transform: uppercase;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #C6C5C5;
	border-right-color: #C6C5C5;
	border-bottom-color: #C6C5C5;
	border-left-color: #C6C5C5;
	height: 65px;
}

.celda20s {
	width: 20%;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	font-size: 10px;
	font-weight: normal;
	color: #000;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
	text-align: left;
	text-transform: uppercase;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #C6C5C5;
	border-right-color: #C6C5C5;
	border-bottom-color: #C6C5C5;
	border-left-color: #C6C5C5;
	height: 65px;
}

.celda30as {
	width: 27%;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	font-size: 10px;
	font-weight: normal;
	color: #000;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 5px;
	text-align: left;
	text-transform: uppercase;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #C6C5C5;
	border-right-color: #C6C5C5;
	border-bottom-color: #C6C5C5;
	border-left-color: #C6C5C5;
	height: 45px;
}

.celda20t{
	width: 16%;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	padding-top: 15px;
	padding-left: 1%;
	padding-bottom: 5px;
	text-align: left;
	text-transform: uppercase;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #333;
	height: 35px;
	border-right-width: 1px;
	border-right-color: #FFF;
	background-color: #C6C5C5;
}


.celda25t {
	width: 20%;font-family: Arial, Helvetica, sans-serif;float: left;font-size: 12px;font-weight: bold;color: #000;
	padding-top: 15px;
	padding-left: 1%;
	padding-bottom: 5px;
	text-align: left;
	text-transform: uppercase;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #333;
	height: 35px;
	border-right-width: 1px;
	border-right-color: #FFF;
	background-color: #C6C5C5;
}
.celda20ts{
	width: 20%;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	padding-top: 15px;
	padding-left: 1%;
	padding-bottom: 5px;
	text-align: left;
	text-transform: uppercase;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #333;
	height: 35px;
	border-right-width: 1px;
	border-right-color: #FFF;
	background-color: #C6C5C5;
}

.celda20t_tipo{
	width: 16%;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	padding-top: 15px;
	padding-left: 1%;
	padding-bottom: 5px;
	text-align: left;
	text-transform: uppercase;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #333;
	height: 60px;
	border-right-width: 1px;
	border-right-color: #FFF;
	background-color: #C6C5C5;
}

.celda15t{
	width: 13%;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	padding-top: 15px;
	padding-left: 5px;
	padding-bottom: 5px;
	text-align: left;
	text-transform: uppercase;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #333;
	height: 35px;
	border-right-width: 1px;
	border-right-color: #FFF;
	background-color: #C6C5C5;
}

.celda10t
{
	width: 7%;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 5px;
	text-align: left;
	text-transform: uppercase;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #333;
	height: 35px;
	background-color: #C6C5C5;
	border-right-width: 1px;
	border-right-color: #FFF;
}

.celda10b
{
	width: 7%;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 5px;
	text-align: left;
	text-transform: uppercase;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #333;
	height: 35px;
	background-color: #DADADA;
	border-right-width: 1px;
	border-right-color: #FFF;
}

.celda5b{
	width: 5%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	float: left;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 5px;
	height: 35px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-color: #C6C5C5;
	border-bottom-color: #C6C5C5;
	border-top-style: none;
		background-color: #DADADA;
	
	
	
}

.celda15b{
	width: 13%;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	padding-top: 15px;
	padding-left: 5px;
	padding-bottom: 5px;
	text-align: left;
	text-transform: uppercase;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #333;
	height: 35px;
	border-right-width: 1px;
	border-right-color: #FFF;
	background-color: #DADADA;
}


.celda15b1{
	width: 13%;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	padding-top: 15px;
	padding-left: 5px;
	padding-bottom: 5px;
	text-align: left;
	text-transform: uppercase;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #333;
	height: 60px;
	border-right-width: 1px;
	border-right-color: #FFF;
	background-color: #DADADA;
}
	

.admin60 {
	width: 48%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	padding-top: 15px;padding-left: 10px;
	padding-bottom: 5px;height: 20px;
	text-transform: uppercase;}
.admin60t {width: 48%;font-family: Arial, Helvetica, sans-serif;float: left;font-size: 12px;font-weight: bold;color: #F00;padding-top: 15px;padding-left: 10px;padding-bottom: 5px;border-top-style: solid;border-top-width: 1px;border-top-color: #C6C5C5;border-bottom-style: solid;border-bottom-width: 1px;border-bottom-color: #C6C5C5;text-align: left;text-transform: uppercase;
}
.admin_btn {width: 38%;border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #C6C5C5;font-family: "Lucida Grande", sans-serif;font-size: 12px;float: left;padding-top: 15px;padding-left: 10px;padding-bottom: 5px;height: 20px;text-transform: uppercase;}
.admin_btnt {
	width: 38%;
font-family:font-family: Arial, Helvetica, sans-serif;	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #F00;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 5px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #C6C5C5;
	text-align: left;
	text-transform: uppercase;
}
.boton40
{
	border-style: none;
	width: 45%;
	text-decoration: none;
	color: #FF0000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	float: left;
	text-align: center;
	font-weight: bold;
	padding-top: 0px;
	padding-right: 5%;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-right: 20px;
	margin-bottom: 7px;
}
.label40t
{
	width: 38%;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	padding-top: 20px;
	padding-left: 10px;
	padding-bottom: 5px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #333;
	text-align: left;
	background-color: #C6C5C5;
	height: 35px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFF;
}

.label_esp
{
	width: 38%;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	font-size: 12px;
	font-weight: normal;
	color: #333333;
	padding-top: 25px;
	padding-left: 2%;
	padding-bottom: 5px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #C6C5C5;
	text-align: left;
	background-color: #F1EFF3;
	height: 250px;
}
.label30t
{
	width: 28%;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	padding-top: 25px;
	padding-left: 2%;
	padding-bottom: 5px;
	text-align: left;
	border-bottom-color: #C6C5C5;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	background-color: #FFF0EC;
	height: 15px;
}

.label_admint2{
	width: 18%;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	padding-top: 25px;
	padding-left: 2%;
	padding-bottom: 5px;
	text-align: left;
	border-bottom-color: #C6C5C5;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	background-color: #F1EFF3;
	height: 250px;
}

.label_admint3{
	width: 38%;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	padding-top: 25px;
	padding-left: 2%;
	padding-bottom: 5px;
	text-align: left;
	border-bottom-color: #C6C5C5;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	background-color: #E3E3E3;
	height: 250px;
}

.label_admint{
	width: 18%;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	padding-top: 25px;
	padding-left: 2%;
	padding-bottom: 5px;
	text-align: left;
	border-bottom-color: #C6C5C5;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	background-color: #E3E3E3;
	height: 15px;
	margin: 0px;
}


.label_admint16{
	width: 38%;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	padding-top: 25px;
	padding-left: 2%;
	padding-bottom: 5px;
	text-align: left;
	border-bottom-color: #C6C5C5;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	background-color: #E3E3E3;
	height: 15px;
	margin: 0px;
}

.label_admint_ab{
	width: 18%;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	padding-top: 25px;
	padding-left: 2%;
	padding-bottom: 5px;
	text-align: left;
	border-bottom-color: #C6C5C5;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	background-color: #F1EFF3;
	height: 15px;
	margin: 0px;
}


.label_admint_b{
	width: 18%;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	padding-top: 25px;
	padding-left: 2%;
	padding-bottom: 5px;
	text-align: left;
	background-color: #E3E3E3;
	height: 15px;
	margin: 0px;
}

.label_admin100{
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	padding-top: 25px;
	padding-left: 2%;
	padding-bottom: 5px;
	text-align: left;
	border-bottom-color: #C6C5C5;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	background-color: #E3E3E3;
	height: 15px;
	margin: 0px;
}

.label_admintb{
	width: 18%;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	padding-left: 2%;
	padding-bottom: 5px;
	text-align: left;
	border-bottom-color: #C6C5C5;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	background-color: #E3E3E3;
	height: 40px;
}

.label_relleno20{
	width: 18%;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	padding-top: 25px;
	padding-left: 2%;
	padding-bottom: 5px;
	text-align: left;
	border-bottom-color: #C6C5C5;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	background-color: #E3E3E3;
	height: 15px;
}

.label_relleno10{width: 8%;font-family: Arial, Helvetica, sans-serif;float: left;font-size: 12px;font-weight: bold;color: #000000;padding-top: 25px;padding-left: 2%;padding-bottom: 5px;text-align: left;border-bottom-color: #C6C5C5;border-bottom-style: solid;border-bottom-width: 1px;background-color: #FFF0EC;height: 15px;}

.label_adminc
{
	width: 38%;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	padding-top: 20px;
	padding-left: 1%;
	padding-bottom: 5px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #C6C5C5;
	text-align: left;
	background-color: #E3E3E3;
	height: 20px;
	padding-right: 1%;
}

.label_adminc_ab
{
	width: 38%;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	padding-top: 20px;
	padding-left: 1%;
	padding-bottom: 5px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #C6C5C5;
	text-align: left;
	background-color: #F1EFF3;
	height: 20px;
	padding-right: 1%;
}

.labelb30t
{
	width: 28%;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 5px;
	text-align: left;
	border-bottom-color: #C6C5C5;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	background-color: #FFF0EC;
	height: 25px;
}

.solicitud100 {
	width: 100%;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #999;
	float: left;
	border-top-width: 0px;
}


.solicitud100es {
	width: 100%;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #999;
	float: left;
	border-top-width: 1px;
	border-top-color: #999;
	background-color: #DEDEDE;
}

.solicitud100tit {
	width: 100%;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	float: left;
	margin-top: 30px;
	border-top-width: 1px;
	border-top-color: #999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333;
	padding-top: 20px;
	background-color: #CBCBCB;
	height: 25px;
	font-weight: bold;
	padding-left: 1%;
}



.solicitud100sin {
	width: 100%;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	float: left;
}
.solicitud100b {float: left;width: 100%;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #999;
}


.solicitud100c {
	float: left;
	width: 100%;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #999;
	background-color: #FFE0CC;
}

.solicitud33 {float: left; width: 33%;}
.solicitud50 {float: left; width: 50%;}

.sol_box {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 5px;
	height: auto;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
	float: left;
	list-style-position: inside;
}

.sol_100 {
	float: left;
	width: 100%;
	padding-top: 0px;
	padding-bottom: 5px;
	height: 35px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
	border-top-style: none;
}

.sol_adm100 {
	float: left;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
	background-color: #E3E3E3;
}

#check_adm {
	float: left;
}

.sol_regresa {
	float: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 5px;
	height: 15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
	font-size: 12px;
	padding-left: 1%;
	color: #F00;
}
.sol_campo
{
	width: 48%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	padding-top: 15px;
	padding-left: 2%;
	padding-bottom: 5px;
	height: 20px;
	color: #F00;
}
.sol_campob
{
	width: 32%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	padding-top: 15px;
	padding-left: 2%;
	padding-bottom: 5px;
	height: 20px;
	color: #F00;
}
.ver_campob
{
	width: 10%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	padding-top: 15px;
	padding-left: 2%;
	padding-bottom: 5px;
	height: 20px;
	color: #F00;
}
.sol_tit
{
	width: 18%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	padding-top: 15px;
	padding-left: 2%;
	padding-bottom: 5px;
	height: 20px;
}

.sol_per
{
	width: 38%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	padding-top: 15px;
	padding-left: 2%;
	padding-bottom: 5px;
	height: 20px;
}


.sol_titb2
{
	width: 25%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	padding-top: 15px;
	padding-left: 2%;
	padding-bottom: 5px;
	height: 20px;
}

.tit_acuerdo
{
	width: 15%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	padding-top: 15px;
	padding-left: 2%;
	padding-bottom: 5px;
	height: 20px;
}

.sol_ver30{
	width: 20%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	padding-top: 15px;
	padding-bottom: 5px;
	height: 20px;
	color: #F00;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #C6C5C5;
	padding-right: 3%;
	padding-left: 0%;
}

.sol_ver30g{
	width: 20%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	padding-top: 15px;
	padding-bottom: 5px;
	height: 20px;
	color: #999;
	padding-right: 3%;
	padding-left: 0%;
}

.sol_ver50g{
	width: 29%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	padding-top: 15px;
	padding-bottom: 5px;
	height: 20px;
	color: #999;
	padding-right: 1%;
	padding-left: 0%;
}


.sol_observacion{
	width: 29%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	padding-top: 15px;
	padding-bottom: 5px;
	height: 50px;
	color: #999;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #C6C5C5;
	padding-right: 1%;
	padding-left: 0%;
}
.sol_ver10{
	width: 8%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	padding-top: 15px;
	padding-bottom: 5px;
	height: 20px;
	color: #F00;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #C6C5C5;
	padding-right: 3%;
	padding-left: 0%;
}


.sol_ver10g{
	width: 8%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	padding-top: 15px;
	padding-bottom: 5px;
	height: 20px;
	color: #999;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #C6C5C5;
	padding-right: 3%;
	padding-left: 0%;
}
.sol_tit2b{width: 4%;font-family: Arial, Helvetica, sans-serif;font-size: 12px;float: left;padding-top: 15px;padding-left: 1%;padding-bottom: 5px;height: 20px;padding-right: 0%;margin: 0px;}


.sol_tit2{width: 8%;font-family: Arial, Helvetica, sans-serif;font-size: 12px;float: left;padding-top: 15px;padding-left: 1%;padding-bottom: 5px;height: 20px;padding-right: 0%;margin: 0px;}

.sol_repo{
	width: 8%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	padding-top: 15px;
	padding-left: 1%;
	padding-bottom: 5px;
	height: 20px;
	border-bottom-style: none;
	padding-right: 0%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
}

.princ20{
	width: 8%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	padding-top: 5px;
	padding-left: 1%;
	padding-bottom: 5px;
	height: 20px;
	border-bottom-style: none;
	padding-right: 0%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 1%;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
}

.princrelle{
	width: 75%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	padding-top: 5px;
	padding-left: 0%;
	padding-bottom: 5px;
	height: 20px;
	border-bottom-style: none;
	padding-right: 0%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
}
.princrelle {
	width: 9%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	padding-top: 5px;
	padding-left: 1%;
	padding-bottom: 5px;
	height: 20px;
	border-bottom-style: none;
	padding-right: 0%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
}

.sol_tit50{
	width: 13%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	padding-top: 15px;
	padding-left: 1%;
	padding-bottom: 5px;
	height: 20px;
	padding-right: 0%;
	margin: 0px;
}
.sol_tit30{
	width: 7%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	padding-top: 15px;
	padding-left: 1%;
	padding-bottom: 5px;
	height: 20px;
	padding-right: 0%;
	margin: 0px;
}



.princ50{
	width: 14%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	padding-top: 5px;
	padding-left: 1%;
	padding-bottom: 5px;
	height: 20px;
	padding-right: 0%;
	margin: 0px;
}
.sol_campoadm{width: 100%;font-family: Arial, Helvetica, sans-serif;font-size: 12px;float: left;color: #F00;border: 1px solid #C6C5C5;}

.sol_campo25{width: 100%;font-family: Arial, Helvetica, sans-serif;font-size: 12px;float: left;color: #F00;border: 1px solid #C6C5C5;}

.sol_personal{
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	color: #F00;
	border: 1px none #C6C5C5;
	font-weight: bold;
}


.sol_personal2{
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	color: #333;
	border: 1px solid #C6C5C5;
	font-weight: normal;
	text-align: right;	
}

.acuerdo_tit{
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	float: left;
	color: #333;
	font-weight: normal;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dotted;
	border-left-style: none;
	border-top-color: #C6C5C5;
	border-right-color: #C6C5C5;
	border-bottom-color: #C6C5C5;
	border-left-color: #C6C5C5;
	padding-top: 15px;
	padding-left: 0px;
	padding-bottom: 5px;
}

.sol_campo25sn{
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	color: #999;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.sol_campo25g{width: 100%;font-family: Arial, Helvetica, sans-serif;font-size: 12px;float: left;color: #999;border: 1px solid #C6C5C5;}

.sol_check{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	list-style-position: outside;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	width: 100%;
	padding-right: 3%;
	border-bottom-width: 1px;
	border-bottom-color: #C6C5C5;
}


.sol_campoes{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	list-style-position: outside;
	width: 98%;
	border-bottom-width: 1px;
	border-bottom-color: #C6C5C5;
	float: left;
	height: 20px;
	border: 1px solid #C6C5C5;
	margin-right: 1%;
	margin-left: 1%;
}

.sol_campo30{
	width: 25%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	padding-top: 10px;
	padding-bottom: 5px;
	height: 25px;
	color: #F00;
	border-bottom-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #C6C5C5;
	padding-right: 3%;
	padding-left: 0%;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
}

.sol_campo20{
	width: 20%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	padding-top: 10px;
	padding-bottom: 5px;
	height: 25px;
	color: #F00;
	border-bottom-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #C6C5C5;
	padding-right: 3%;
	padding-left: 0%;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
}

.sol_campo30acu{
	width: 75%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	padding-top: 10px;
	padding-bottom: 5px;
	height: 25px;
	color: #F00;
	border-bottom-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #C6C5C5;
	padding-right: 3%;
	padding-left: 0%;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
}

.sol_campo50c{
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	color: #000;
	border: 1px solid #333;
}

.sol_fecha{
	width: 3%;
	float: left;
	padding-top: 15px;
	padding-left: 1%;
	padding-bottom: 5px;
	height: 20px;
	border-bottom-style: none;
	border-bottom-color: #C6C5C5;
	padding-right: 1%;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
}

.sol_campo2
{
	width: 30%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	padding-top: 15px;
	padding-left: 2%;
	padding-bottom: 5px;
	height: 20px;
}
.sol_campo50
{
	width: 25%;
	border-bottom-style: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	padding-top: 15px;
	padding-left: 1%;
	padding-bottom: 5px;
	height: 20px;
	color: #F00;
}

.sol_campo30
{
	width: 20%;
	border-bottom-style: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	padding-top: 15px;
	padding-left: 1%;
	padding-bottom: 5px;
	height: 20px;
	color: #F00;
}

.sol_btn{width: 45%;float: right;height: 35px;text-decoration: none;}.login_campo {
	width: 70%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	color: #666;
	border: 1px solid #C6C5C5;
	font-weight: bold;
}
.login_campo2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	color: #000;
	font-weight: bold;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#form1 {
	width: 100%;
	margin-left: 0%;
	margin-top: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	float: left;
}
#form1 #logintxt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #F00;
	padding-top: 50px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	padding-left: 5%;
	background-image: url(../img/login.png);
	background-repeat: repeat;
}
#form1 .logintxt2 {
	width: 15%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	background-color: #F0F0F0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	padding-top: 20px;
	padding-left: 5%;
	float: left;
	height: 25px;
}
#form1 .logintxt5 {
	width: 18%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	background-color: #F0F0F0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	float: left;
	height: 45px;
	padding-right: 2%;
}
#form1 .logintxt3 {
	width: 25%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	background-color: #F0F0F0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	padding-top: 15px;
	float: left;
	height: 30px;
	padding-left: 5%;
}
#form1 .loginrelleno {
	width: 50%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	background-color: #F0F0F0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	padding-top: 15px;
	float: left;
	height: 30px;
}
#form1 .logintxt4 {
	width: 30%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	background-color: #F0F0F0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	padding-top: 15px;
	float: left;
	height: 30px;
}

/*REMITOS*/

.r_tit15 {
	font-size: 14px;
	 font-family: Arial, Helvetica, sans-serif;
	color: #333;
	background-color: #e9e8e8;
	padding-top: 15px;
	padding-left: 2%;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666;
	margin-top: 2px;
	/*float: left;*/
	width: 13%;
}
.r_tit65 {
	font-size: 14px;
	 font-family: Arial, Helvetica, sans-serif;
	color: #333;
	background-color: #e9e8e8;
	padding-top: 15px;
	padding-left: 2%;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666;
	margin-top: 2px;
	/*float: left;*/
	width: 53%;
}

.r_tit15b {
	font-size: 12px;
	color: #333;
	padding-top: 15px;
	padding-left: 2%;
	padding-bottom: 5px;
	margin-top: 2px;
	float: left;
	width: 13%;
	 font-family: Arial, Helvetica, sans-serif;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	text-align: center;
}
.r_tit65b {
	font-size: 12px;
	color: #333;
	padding-top: 15px;
	padding-left: 2%;
	padding-bottom: 5px;
	border-bottom-style: none;
	margin-top: 2px;
	float: left;
	width: 53%;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	 font-family: Arial, Helvetica, sans-serif;
}

.r_dato15 {
	font-size: 12px;
	color: #333;
	padding-top: 15px;
	padding-left: 2%;
	padding-bottom: 5px;
	margin-top: 2px;
	float: left;
	width: 13%;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	text-align: left;
	 font-family: Arial, Helvetica, sans-serif;
}

.r_dato35 {
	font-size: 12px;
	color: #333;
	padding-top: 15px;
	padding-left: 2%;
	padding-bottom: 5px;
	margin-top: 2px;
	float: left;
	width: 33%;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	text-align: left;
	 font-family: Arial, Helvetica, sans-serif;
}

.cajaTextoGrilla
{
	border: 1 solid #999;
	background-color: #FFF;
	width: 90%;
	height: auto;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
}

.rowBaja
{
    font-style: oblique;
}
.rowActivo
{
    font-weight:bold;
}