﻿
.nuevaSS_titleServ
{
	display: block;
	font-family: BPreplay, Arial, Helvetica, sans-serif;
	font-size: 14px;
	height: 20px;
	width: 95%;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 5%;
	background-color: #FCD0AD;
	color: #000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666;
	text-decoration: none;
	font-weight: normal;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
}



.nuevaSS_titleServ2
{
	display: block;
	font-family: BPreplay, Arial, Helvetica, sans-serif;
	font-size: 14px;
	height: 20px;
	width: 94%;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 5%;
	background-color: #FCD0AD;
	color: #000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666;
	text-decoration: none;
	font-weight: normal;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
}

.nuevaSS_tdEsp
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
	height: 20px;
	width: 95%;
	padding-top: 10px;
	line-height: 20px;
	font-weight: bolder;
	color: #333;
	margin: 0px;
	padding-left: 5%;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #CCC;
}

input[type=checkbox] {
	margin-right: 15px;
}