#tit_personal {
	font-size: 14px;
	color: #333;
	background-color: #e9e8e8;
	padding-top: 15px;
	padding-left: 1%;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666;
	margin-top: 2px;
	float: left;
	width: 99%;
	font-family: Arial, Helvetica, sans-serif;
}
#ape_personal {
	font-size: 16px;
	color: #F31A37;
	padding-top: 15px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
	padding-left: 10px;
	font-family: Arial, Helvetica, sans-serif;
	height: 20px;
}
#ape_personal2 {
	font-size: 16px;
	color: #F31A37;
	padding-top: 15px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
	padding-left: 10px;
	font-family: Arial, Helvetica, sans-serif;
}
label {
	font-size: 12px;
	color: #999;
	float: left;
	margin-bottom: 1%;
	padding-left: 10px;
	padding-top: 15px;
	padding-bottom: 4%;
}
label2 {
	font-size: 12px;
	color: #999;
	float: left;
	margin-bottom: 1%;
	padding-left: 10px;
	padding-top: 15px;
	padding-bottom: 4%;
}
input[type="text"] {
	font-size: 12px;
	color: #000;
	background-color: #FFF;
	width: 98%;
	margin-top: 2%;
	float: left;
	margin-bottom: 1%;
	border: 1px solid #CCC;
}

#campo_per30 {
	float: left;
	width: 120px;
	margin-right: 5px;
}
#campo_per100 {
	float: left;
	width: 280px;
	margin-right: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 15px;
	padding-bottom: 4px;
	font-size: 12px;
	color: #999;
	padding-left: 10px;
}

.sol_fechapp{
	width: 3%;
	float: right;
	padding-top: 15px;
	padding-left: 1%;
	padding-bottom: 5px;
	border-bottom-style: none;
	border-bottom-color: #C6C5C5;
	padding-right: 1%;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
}

#campo_per70 {
	float: left;
	width: 70%;
	margin-left: 1%;
}
#campo_per70bis {
	float: left;
	width: 65%;
	margin-left: 1%;
}
#campo_per50 {
	float: left;
	width: 155px;
	margin-left: 2%;
	padding-top: 6px;
}
#campo_per50bis {
	float: left;
	width: 130px;
	margin-left: 2%;
	padding-top: 6px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#campo_per50bis2 {
	float: left;
	width: 255px;
	margin-left: 1%;
	padding-top: 6px;
}
#campo_per_icono {
	float: left;
	width: 25px;
	margin-left: 2%;
	padding-top: 9px;
}
#celda_p100 {
	float: left;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	padding-bottom: 2px;
}
#celda_pbtns {
	float: left;
	width: 100%;
	padding-bottom: 2px;
	margin-top: 20px;
	margin-bottom: 20px;
}
#celda_p50 {
	float: left;
	width: 50%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
.campos {
	float: left;
	width: 99%;
}
.btn_personal {
	width: 100px;
	font-size: 13px;
	float: right;
	height: 30px;
	padding-top: 10px;
	color: #FFF;
	padding-left: 8px;
	text-decoration: none;
	border-bottom-style: none;
	background-color: #F03;
	padding-right: 8px;
	padding-bottom: 5px;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	margin-right: 5px;
	margin-left: 5px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}
#personal_select {
	float: left;
}
#campo_per50 select {
	float: left;
	width: 90%;
	font-family: Arial, Helvetica, sans-serif;
}
#campo_per70 select {
	float: left;
	width: 99%;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 10px;
}




.squaredThree {
	width: 20px;
  label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(top, #222 0%, #45484d 100%);
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
    &:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 4px;
      left: 4px;
      border: 3px solid #fcfff4;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
    }
    &:hover::after {
      opacity: 0.3;
    }
;
	float: left;
	height: 20px;
	margin-top: 8px;
	padding: 0px;
  }
  input[type=checkbox] {
    &:checked + label:after {
      opacity: 1;
    }    
  }
}
#Si {
	float: left;
	height: 20px;
	width: 20px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#check {
	float: left;
	padding-top: 8px;
	padding-right: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999;
}
#check2 {
	float: left;
	padding-right: 10px;
	padding-top: 2px;
}

#check3 {
	float: left;
	padding-top: 8px;
	padding-right: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999;
}
