body {
	margin-top: 0px;
	background-image: url(img/fondo.png);
	margin-left: 0px;
	margin-right: auto;
	margin-bottom: auto;
	width: 100%;
}
#cuerpo {
	float: left;
	width: 920px;
	height: 100%;
	position: absolute;
}
#menu {
	float: left;
	font-family: "Lucida Grande", sans-serif;
	border-right-width: 7px;
	border-right-style: solid;
	border-right-color: #C6C5C5;
}
#menu_pri {
	float: left;
	height: 100%;
	width: 200px;
	background-color: #F31A37;
	padding-top: 80px;
	padding-left: 20px;
	font-family: "Lucida Grande", sans-serif;
	border-right-width: 7px;
	border-right-style: solid;
	border-right-color: #C6C5C5;
	padding-bottom: 50px;
}
.principal {
	width: 195px;
	font-size: 15px;
	float: left;
	height: 25px;
	padding-top: 15px;
	color: #000;
	background-color: #C6C5C5;
	padding-left: 8px;
}
.btn_principal a{
	width: 195px;
	font-size: 15px;
	float: left;
	height: 25px;
	padding-top: 15px;
	color: #FFF;
	padding-left: 8px;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
}
.btn_principal a:hover {
	width: 195px;
	font-size: 15px;
	float: left;
	height: 25px;
	padding-top: 15px;
	color: #000;
	padding-left: 8px;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
	background-color: #C6C5C5;
}
.btn_principal a:active {
	width: 195px;
	font-size: 15px;
	float: left;
	height: 25px;
	padding-top: 15px;
	color: #000;
	padding-left: 8px;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
	background-color: #C6C5C5;
}
#menuv .bot {
	text-decoration: none;
	font-size: 14px;
	padding-left: 15px;
	padding-top: 20px;
	float: left;
	width: 191px;
	font-weight: normal;
}
#menu .boton a {
	text-decoration: none;
	font-size: 13px;
	padding-left: 25px;
	padding-top: 20px;
	float: left;
	width: 181px;
	font-weight: normal;
	color: #FFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
	padding-bottom: 5px;
}
#menu .boton a:visited {
	text-decoration: none;
	font-size: 13px;
	padding-left: 25px;
	padding-top: 20px;
	float: left;
	width: 181px;
	font-weight: normal;
	color: #FFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
}
#menu .boton a:hover {
	text-decoration: none;
	font-size: 13px;
	padding-left: 25px;
	padding-top: 20px;
	float: left;
	width: 181px;
	font-weight: normal;
	color: #FFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
	background-color: #7d0d1c;
}
#menu .boton_on {
	text-decoration: none;
	font-size: 13px;
	padding-left: 25px;
	padding-top: 20px;
	float: left;
	width: 175px;
	font-weight: normal;
	color: #FFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
	background-color: #7d0d1c;
	padding-bottom: 5px;
}
#menu .boton a:active {
	text-decoration: none;
	font-size: 13px;
	padding-left: 25px;
	padding-top: 20px;
	float: left;
	width: 181px;
	font-weight: normal;
	color: #FFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
	background-color: #7d0d1c;
}
#header {
	width: 600px;
	font-family: "Lucida Grande", sans-serif;
	float: left;
	margin-left: 80px;
	height: 70px;
	background-image: url(img/logo.png);
	background-repeat: no-repeat;
	background-position: 550px 35px;
}
#usuario {
	font-family: "Lucida Grande", sans-serif;
	font-size: 12px;
	width: 200px;
	float: left;
	padding-top: 15px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #C6C5C5;
	color: #FFF;
	margin-right: 5px;
}
#btn_acceso a {
	width: 100px;
	float: left;
	font-size: 12px;
	color: #FFF;
	text-decoration: none;
	background-color: #000;
	padding-left: 10px;
	padding-top: 15px;
	padding-right: 10px;
	padding-bottom: 5px;
	margin-right: 4px;
}
#btn_acceso a:visited {
	width: 100px;
	float: left;
	font-size: 12px;
	color: #FFF;
	text-decoration: none;
	background-color: #000;
	padding-left: 10px;
	padding-top: 15px;
	padding-right: 10px;
	padding-bottom: 5px;
	margin-right: 4px;
}
#btn_acceso a:hover {
	width: 100px;
	float: left;
	font-size: 12px;
	color: #FFF;
	text-decoration: none;
	background-color: #F31A37;
	padding-left: 10px;
	padding-top: 15px;
	padding-right: 10px;
	padding-bottom: 5px;
	margin-right: 4px;
}
#btn_acceso a:active {
	width: 100px;
	float: left;
	font-size: 12px;
	color: #FFF;
	text-decoration: none;
	background-color: #F31A37;
	padding-left: 10px;
	padding-top: 15px;
	padding-right: 10px;
	padding-bottom: 5px;
	margin-right: 4px;
}
#contenido {
	width: 600px;
	font-family: "Lucida Grande", sans-serif;
	float: left;
	margin-left: 80px;
	margin-top: 10px;
}
#titulos {
	font-size: 14px;
	color: #333;
	background-color: #e9e8e8;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666;
	margin-top: 2px;
	float: left;
	width: 585px;
}
#botones {
	font-size: 14px;
	color: #333;
	padding-left: 10px;
	padding-bottom: 5px;
	float: left;
	width: 585px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999;
	padding-top: 0px;
	text-align: right;
	height: 40px;
}
#apertura {
	font-size: 16px;
	color: #F31A37;
	padding-top: 15px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
	padding-left: 10px;
}
#txtos {
	font-size: 13px;
	color: #333;
	padding-top: 15px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
	padding-left: 10px;
	line-height: 16px;
	width: 100%;
}





#menu li{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
}
#menu ul li, #menu li:last-child{border:none}	
a{
	display:block;
	color:#FFF;
	text-decoration:none;
	font-family:"Lucida Grande", sans-serif;
	font-size:13px;
	padding-top: 15px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
}
#menu a:hover{
	color:#FFF;
	-webkit-transition: color 0.2s linear;
	background-color: #7d0d1c;
}
.sec_btn_on {
	color:#FFF;
	-webkit-transition: color 0.2s linear;
	background-color: #7d0d1c;
}
#menu ul a{
	background-color: #F31A37;
	font-size: 12px;
	padding-left: 15px;
}
#menu ul a:hover{
	background-color:#FF3200;
	color:#FFF;
	text-shadow:none;
	-webkit-transition: color, background-color 0.2s linear;
}
ul{
	display:block;
	margin:0;
	padding:0;
	width:100%;
	list-style:none;
}
#menu ul{
	background-color:#0F0;
}
#menu li ul {display:none;}
label {
	font-size: 12px;
	color: #999;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	width: 45%;
	float: left;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 3px;
}
#buscar a:link{
	font-size: 12px;
	color: #FFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	width: 16%;
	float: left;
	padding-top: 12px;
	padding-left: 10px;
	height: 18px;
	background-color: #666;
	padding-bottom: 3px;
	margin-top: 2px;
	margin-left: 0px;
}
#buscar a:hover{
	font-size: 12px;
	color: #FFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	width: 16%;
	float: left;
	padding-top: 12px;
	padding-left: 10px;
	height: 18px;
	background-color: #ED1C23;
	margin-top: 2px;
	padding-bottom: 3px;
}
input {
	font-size: 12px;
	color: #000;
	background-color: #FFF;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	width: 48%;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-color: #CCC;
	margin-top: 14px;
	float: left;
}
#regreso_3 {
	font-size: 12px;
	color: #999;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	width: 31%;
	float: left;
	padding-top: 15px;
	padding-left: 1.3%;
	padding-bottom: 3px;
	margin-right: 1%;
}
#regreso_2 {
	font-size: 12px;
	color: #999;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	width: 64%;
	float: left;
	padding-top: 15px;
	padding-left: 1%;
	padding-bottom: 3px;
	margin-right: 1%;
}
#regreso_select {
	font-size: 12px;
	color: #999;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	width: 64%;
	float: left;
	padding-top: 10px;
	padding-left: 1%;
	padding-bottom: 3px;
	margin-right: 1%;
}
#regreso_1 {
	font-size: 12px;
	color: #999;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	width: 48%;
	float: left;
	padding-top: 15px;
	padding-left: 1%;
	padding-bottom: 3px;
	margin-right: 1%;
}
.tabla3 {
	color: #333;
	padding-top: 15px;
	padding-bottom: 5px;
	padding-left: 10px;
	width: 600px;
}
.titbusqueda {
	font-size: 12px;
	color: #999;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	width: 20%;
	float: left;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 3px;
}
.selectbusqueda {
	font-size: 12px;
	color: #F31A37;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	width: 76%;
	float: left;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 3px;
}
.empbusqueda {
	font-size: 12px;
	color: #F31A37;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	width: 75%;
	float: left;
	height: 20px;
}
#campo {
	float: left;
	width: 195px;
	margin-right: 5px;
}
.campo {
	float: left;
	width: 195px;
	margin-right: 5px;
}
#pe_campo {
	font-size: 11px;
	color: #000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	width: 185px;
	float: left;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 3px;
	margin-right: 5px;
}
#pe_spacer {
	font-size: 11px;
	color: #000;
	width: 185px;
	float: left;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 3px;
	margin-right: 5px;
}
#spacer {
	float: left;
	width: 195px;
	margin-right: 5px;
	height: 32px;
}
#campob {
	float: left;
	width: 190px;
	font-size: 12px;
	color: #999;
	padding-top: 15px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
#campo_spacer {
	float: left;
	width: 200px;
	font-size: 12px;
	color: #999;
	padding-top: 13px;
	padding-bottom: 5px;
	height: 15px;
}
#campo2 {
	float: left;
	width: 295px;
	margin-right: 5px;
}
#campo4 {
	float: left;
	width: 47%;
	margin-right: 1%;
	padding-left: 2%;
}
#campo3 {
	float: left;
	width: 395px;
	margin-right: 5px;
}
#campo3b {
	float: left;
	width: 395px;
	margin-right: 5px;
	padding-top: 12px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	padding-bottom: 3px;
}
#busqueda {
	float: left;
	width: 595px;
	margin-right: 5px;
	padding-bottom: 5px;
	padding-top: 10px;
	margin-top: 20px;
}
#tabla {
	float: left;
	width: 595px;
	margin-right: 5px;
	padding-bottom: 5px;
	padding-top: 10px;
}
#celda1 {
	float: left;
	width: 100%;
	font-size: 12px;
	color: #FFF;
	background-color: #666;
}
#columna1 {
	float: left;
	width: 20%;
	height: 20px;
	padding-top: 15px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFF;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666;
}
#columna3 {
	float: left;
	width: 21%;
	height: 20px;
	padding-top: 15px;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666;
}
#regreso a:link{
	float: left;
	width: 20%;
	height: 15px;
	padding-top: 15px;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666;
	color: #ED1C23;
	text-decoration: none;
	font-size: 12px;
}
#regreso a:visited {
	float: left;
	width: 20%;
	height: 15px;
	padding-top: 15px;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666;
	color: #ED1C23;
	text-decoration: none;
	font-size: 12px;
}
#regreso a:hover {
	float: left;
	width: 20%;
	height: 15px;
	padding-top: 15px;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666;
	color: #FFF;
	text-decoration: none;
	font-size: 12px;
	background-color: #ED1C23;
}
#regreso a:active {
	float: left;
	width: 20%;
	height: 15px;
	padding-top: 15px;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666;
	color: #FFF;
	text-decoration: none;
	font-size: 12px;
	background-color: #ED1C23;
}
#columna2 {
	float: left;
	width: 26%;
	height: 20px;
	padding-top: 15px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFF;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666;
}
#celda2 {
	float: left;
	width: 100%;
	color: #333;
	font-size: 12px;
}

select {
	font-family: "Lucida Grande", sans-serif;
	font-size: 12px;
	color: #000;
	background-color:#FFF;
	width: 95%;
	margin-left: 10px;
	float: left;
	margin-top: 0px;
}

option {
	font-family: "Lucida Grande", sans-serif;
	font-size: 12px;
	color: #888;
	background-color:#FFF;
}
option.impar {
}
option.par {
} 
.btn_form {
	text-align:center;
	color:#FFF;
	font-size:11px;
	padding-right: 25px;
	padding-left: 25px;
	float: right;
	padding-top: 20px;
	padding-bottom: 5px;
	background-color: #F31A37;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-top: 0px;
	margin-right: 5px;
}
.celda40 {
	width: 40%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
	font-family: "Lucida Grande", sans-serif;
	float: left;
}
.celda40t {
	width: 40%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
	font-family: "Lucida Grande", sans-serif;
	float: left;
	font-size: 12px;
	font-weight: bold;
	color: #F00;
	padding-top: 15px;
	padding-left: 5px;
	padding-bottom: 5px;
}
.celda30 {
	width: 30%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
	font-family: "Lucida Grande", sans-serif;
	float: left;
}


#accordion-resizer {
  padding: 10px;
  width: 350px;
  height: 220px;
}
#accordion
{
font-size: 10px;
}