/* The main calendar widget.  DIV containing a table. */

div.calendar { position: relative; }

/* CONTORNO CALENDARIO */
.calendar, .calendar table {
  border: 1px solid  #c3c4c8;
  font-size: 11px;
  color: #000;
  cursor: default;
  background-color: #FFFFFF;
  font-family: tahoma,verdana,sans-serif;
}

/* Header part -- contains navigation buttons and day names. */

.calendar .button
{
	/* "<<", "<", ">", ">>" buttons have this class */
	text-align: center; /* They are the navigation buttons */
	padding: 2px; /* Make the buttons seem like they're pressing */
	background: #FF6F6F;
	color: #000000;
	font-size: 10px;
}

.calendar .nav {
  background: #FF6F6F;
}

.calendar thead .title
{
	/* This holds the current "month, year" */
	font-weight: bold; /* Pressing it will take you to the current date */
	text-align: center;
	padding: 2px;
	background-image: url(imagenes/fdo_titulo.gif);
	color: #000000;
}

.calendar thead .headrow { /* Row <TR> containing navigation buttons */
}

.calendar thead .name { /* Cells <TD> containing the day names */
  border-bottom: 1px solid #FFFFFF;
  padding: 2px;
  text-align: center;
  color: #ffffff;
}

/* SABADO DOMINGO */
.calendar thead .weekend { /* How a weekend day name shows in header */
  color: #000000;
}

/*BOTONES DE MENU:*/

.calendar thead .hilite { /* How do the buttons in header appear when hover */
background-color: #E1E1E1;
  color: #000;
  border: 1px solid #FFFFFF;
  padding: 1px;
}

.calendar thead .active { /* Active (pressed) buttons in header */
  background-color: #c3c4c8;
  color: #FFFFFF;
  padding: 2px 0px 0px 2px;
}

.calendar thead .daynames { /* Row <TR> containing the day names */
  background: #8B8B8B;
}

/* The body part -- contains all the days in month. */

.calendar tbody .day { /* Cells <TD> containing month days dates */
  width: 2em;
  color: #000000;
  text-align: right;
  padding: 2px 4px 2px 2px;
}
.calendar tbody .day .othermonth {
  font-size: 80%;
  color: #bbb;
}
.calendar tbody .day .othermonth .oweekend {
  color: #fbb;
}

/* COLUMNA SEMANAS */
.calendar table .wn {
  padding: 2px 3px 2px 2px;
  border-right: 1px solid #FFFFFF;
  background: #ffffff;
  color: #515151;
}
/* ROLLOVER DIAS - FRANJA */
.calendar tbody .rowhilite td {
  background: #E1E1E1;
}

.calendar tbody .rowhilite td.wn {
  background: #E1E1E1;
}
/* ROLLOVER DIAS */
.calendar tbody td.hilite { /* Hovered cells <TD> */
  background: none;
  padding: 1px 3px 1px 1px;

}

.calendar tbody td.active { /* Active (pressed) cells <TD> */
  background: #E1E1E1;
  padding: 2px 2px 0px 2px;
}

.calendar tbody td.selected
{
	/* Cell showing today date */
	font-weight: bold;
	border: 1px solid #c3c4c8;
	padding: 1px 3px 1px 1px;
	background: none;
	color: #2A2A2A;
}

/* COLOR DIAS FINDE */
.calendar tbody td.weekend { /* Cells showing weekend days */
  color: #D50D14;
}

.calendar tbody td.today { font-weight: bold; color: #666666; border-color:#8B8B8B; background-color: #E1E1E1;}

.calendar tbody .disabled { color: #FF0000; }

.calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
  visibility: hidden;
}

.calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
  display: none;
}

/* The footer part -- status bar and "Close" button */

.calendar tfoot .footrow
{
	/* The <TR> in footer (only one right now) */
	text-align: center;
	background: #BB0013;
	color: #fff;
}

/* PIE */
.calendar tfoot .ttip
{
	/* Tooltip (status bar) cell <TD> */
	padding: 2px;
	background: #666666;
	color: #FFFFFF;
}

.calendar tfoot .hilite { /* Hover style for buttons in footer */
  background: #afa;
  border: 1px solid #084;
  color: #000;
  padding: 1px;
}

.calendar tfoot .active
{
	/* Active (pressed) style for buttons in footer */
	background: #FF6F6F;
	padding: 2px 0px 0px 2px;
}

/* Combo boxes (menus that display months/years for direct selection) */

.calendar .combo
{
	position: absolute;
	display: none;
	top: 0px;
	left: 0px;
	width: 4em;
	cursor: default;
	border: 1px solid #2A2A2A;
	background-image: url(imagenes/fondo.png);
	color: #000;
	font-size: 90%;
	z-index: 100;
	background-color: #FFFFFF;
}

.calendar .combo .label,
.calendar .combo .label-IEfix {
  text-align: center;
  padding: 1px;
}

.calendar .combo .label-IEfix {
  width: 4em;
}

.calendar .combo .hilite {
  background: #E1E1E1;
}

.calendar .combo .active {
  border-top: 1px solid #8B8B8B;
  border-bottom: 1px solid #8B8B8B;
  background: #8B8B8B;
  color: #FFFFFF;
  font-weight: bold;
}

.calendar td.time
{
	border-top: 1px solid #03529D;
	padding: 1px 0px;
	text-align: center;
	background-color: #FF6F6F;
	border-top-color: #333333;
}

.calendar td.time .hour, .calendar td.time .minute, .calendar td.time .ampm
{
	padding: 0px 3px 0px 4px;
	border: 1px solid #333333;
	font-weight: bold;
	background-color: #fff;
}

.calendar td.time .ampm {
  text-align: center;
}

.calendar td.time .colon {
  padding: 0px 2px 0px 3px;
  font-weight: bold;
}

.calendar td.time span.hilite
{
	border-color: #000;
	background-color: #999999;
	color: #fff;
}

.calendar td.time span.active
{
	border-color: #f00;
	background-color: #000;
	color: #CCCCCC;
}
