/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
}

.subtit {
	font-size: 16px;
	color: #F31A37;
	padding-top: 15px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
	width: 100%;
	float: left;
	margin-bottom: 20px;
	margin-top: 10px;
}
.txtimg {
	padding-bottom: 5px;
	width: 395px;
	float: left;
	margin-bottom: 20px;
	margin-top: 10px;
	color: #333;
	padding-left: 10px;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 14px;
}
.img {
	padding-top: 0px;
	padding-bottom: 5px;
	width: 400px;
	float: left;
	margin-bottom: 20px;
	margin-top: 10px;
	color: #333;
	background-color: #FDFDFD;
	border: 1px solid #999;
	height: 234px;
}
.img2 {
	padding-top: 0px;
	padding-bottom: 5px;
	width: 400px;
	float: left;
	margin-bottom: 20px;
	margin-top: 10px;
	color: #333;
	background-color: #FDFDFD;
	border: 1px solid #999;
	height: 325px;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
.ac-container article p {
	content:'';
}
abbr,acronym { border:0;
}
section, header{
	display: block;
}
/* General Demo Style */
body{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 13px;
	color: #393b40;
	overflow-y: scroll;
	background-color: #CCC;
	background-image: url(../images/fondo.png);
	background-repeat: repeat;
	background-position: left top;
}
a{
	color: #333;
	text-decoration: none;
}
.container{
	width: 950px;
	position: relative;
	float: left;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #999;
}
.cuerpo {
	width: 950px;
	position: relative;
	text-align: center;
	float: left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C5C5;
	height: 80px;
}
.clr{
	clear: both;
}
.btn {
	color: #FFF;
	background-color: #000;
	float: left;
	width: 100px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	margin-left: 20px;
}
.container > header{
	padding: 20px 30px 10px 30px;
	margin: 0px 20px 10px 20px;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
}
.container > header h1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 35px;
	line-height: 35px;
	position: relative;
	color: #F00;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	padding: 0px 0px 5px 0px;
}
.container > header h1 span{
	color: #80B8CE;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
}
.container > header h2{
	font-size: 16px;
	color: #82858e;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
}
/* Header Style */
.codrops-top{
	line-height: 24px;
	font-size: 11px;
	background: rgba(255, 255, 255, 0.6);
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}
.codrops-top a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	text-shadow: 0px 1px 1px #fff;
	display: block;
	float: left;
}
.codrops-top a:hover{
	background: #fff;
}
.codrops-top span.right{
	float: right;
}
.codrops-top span.right a{
	float: left;
	display: block;
}

p.codrops-demos{
	text-align:center;
	display: block;
	padding: 14px;
}
p.codrops-demos a,
p.codrops-demos a.current-demo,
p.codrops-demos a.current-demo:hover{
    display: inline-block;
	border: 1px solid #7FB2C1;
	padding: 4px 10px 3px;
	font-size: 13px;
	line-height: 18px;
	margin: 0px 3px;
	font-weight: 800;
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow:0px 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #b0d4e3;
	background: -moz-linear-gradient(top, #b0d4e3 0%, #88bacf 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b0d4e3), color-stop(100%,#88bacf));
	background: -webkit-linear-gradient(top, #b0d4e3 0%,#88bacf 100%);
	background: -o-linear-gradient(top, #b0d4e3 0%,#88bacf 100%);
	background: -ms-linear-gradient(top, #b0d4e3 0%,#88bacf 100%);
	background: linear-gradient(top, #b0d4e3 0%,#88bacf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0d4e3', endColorstr='#88bacf',GradientType=0 );
}
p.codrops-demos a:hover{
	background: #80B8CE;
}
p.codrops-demos a:active{
	-webkit-box-shadow: 0px 1px 1px rgba(255,255,255,0.4);
	-moz-box-shadow: 0px 1px 1px rgba(255,255,255,0.4);
	box-shadow: 0px 1px 1px rgba(255,255,255,0.4);
}
p.codrops-demos a.current-demo,
p.codrops-demos a.current-demo:hover{
	color: #3d7489;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
}
/* Media Queries */
@media screen and (max-width: 767px) {
	.container > header{
		text-align: center;
	}
	p.codrops-demos {
		position: relative;
		top: auto;
		left: auto;
	}
}

#header {
	width: 950px;
	font-family: "Lucida Grande", sans-serif;
	float: left;
	height: 80px;
	background-image: url(img/logo.png);
	background-repeat: no-repeat;
	background-position: 550px 35px;
	margin-bottom: 20px;
}
#usuario {
	font-family: "Lucida Grande", sans-serif;
	font-size: 12px;
	width: 320px;
	float: left;
	padding-top: 15px;
	padding-bottom: 5px;
	color: #FFF;
	height: 60px;
	background-image: url(../images/logopp.png);
	background-repeat: no-repeat;
}
#btn_inst1 a:link{
	background-color: #dd3b2a;
	float: left;
	height: 50px;
	width: 80px;
	padding-top: 30px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	padding-left: 10px;
}
#btn_inst1 a {
	background-color: #dd3b2a;
	float: left;
	height: 50px;
	width: 80px;
	padding-top: 30px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	padding-left: 10px;
}
#btn_inst1 a:hover {
	background-color: #dd3b2a;
	float: left;
	height: 50px;
	width: 80px;
	padding-top: 30px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	padding-left: 10px;
}
#btn_inst1 a:active {
	background-color: #dd3b2a;
	float: left;
	height: 50px;
	width: 80px;
	padding-top: 30px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	padding-left: 10px;
}
#btn_inst1_on {
	background-color: #CCC;
	float: left;
	height: 50px;
	width: 80px;
	padding-top: 30px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	padding-left: 10px;
}
#btn_inst4 a:link{
	background-color: #9c2519;
	float: left;
	height: 50px;
	width: 80px;
	padding-top: 30px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	padding-left: 10px;
}
#btn_inst4 a {
	background-color: #9c2519;
	float: left;
	height: 50px;
	width: 80px;
	padding-top: 30px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	padding-left: 10px;
}
#btn_inst4 a:hover {
	background-color: #9c2519;
	float: left;
	height: 50px;
	width: 80px;
	padding-top: 30px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	padding-left: 10px;
}
#btn_inst4 a:active {
	background-color: #9c2519;
	float: left;
	height: 50px;
	width: 80px;
	padding-top: 30px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	padding-left: 10px;
}
#btn_inst4_on {
	background-color: #CCC;
	float: left;
	height: 50px;
	width: 80px;
	padding-top: 30px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	padding-left: 10px;
}



#btn_inst6 a:link{
	background-color: #821f15;
	float: left;
	height: 50px;
	width: 80px;
	padding-top: 30px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	padding-left: 10px;
}
#btn_inst6 a {
	background-color: #821f15;
	float: left;
	height: 50px;
	width: 80px;
	padding-top: 30px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	padding-left: 10px;
}
#btn_inst6 a:hover {
	background-color: #821f15;
	float: left;
	height: 50px;
	width: 80px;
	padding-top: 30px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	padding-left: 10px;
}
#btn_inst6 a:active {
	background-color: #821f15;
	float: left;
	height: 50px;
	width: 80px;
	padding-top: 30px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	padding-left: 10px;
}
#btn_inst6_on {
	background-color: #CCC;
	float: left;
	height: 50px;
	width: 80px;
	padding-top: 30px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	padding-left: 10px;
}



#btn_inst7 a:link{
	background-color: #691810;
	float: left;
	height: 50px;
	width: 80px;
	padding-top: 30px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	padding-left: 10px;
}
#btn_inst7 a {
	background-color: #691810;
	float: left;
	height: 50px;
	width: 80px;
	padding-top: 30px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	padding-left: 10px;
}
#btn_inst7 a:hover {
	background-color: #691810;
	float: left;
	height: 50px;
	width: 80px;
	padding-top: 30px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	padding-left: 10px;
}
#btn_inst7 a:active {
	background-color: #691810;
	float: left;
	height: 50px;
	width: 80px;
	padding-top: 30px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	padding-left: 10px;
}
#btn_inst7_on {
	background-color: #CCC;
	float: left;
	height: 50px;
	width: 80px;
	padding-top: 30px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	padding-left: 10px;
}

#btn_inst2 a:link{
	background-color: #c02e1f;
	float: left;
	height: 50px;
	width: 80px;
	padding-top: 30px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	padding-left: 10px;
}
#btn_inst2 a {
	background-color: #c02e1f;
	float: left;
	height: 50px;
	width: 80px;
	padding-top: 30px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	padding-left: 10px;
}
#btn_inst2 a:active {
	background-color: #c02e1f;
	float: left;
	height: 50px;
	width: 80px;
	padding-top: 30px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	padding-left: 10px;
}
#btn_inst2 a:hover {
	background-color: #c02e1f;
	float: left;
	height: 50px;
	width: 80px;
	padding-top: 30px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	padding-left: 10px;
}
#btn_inst2_on {
	background-color: #CCC;
	float: left;
	height: 50px;
	width: 80px;
	padding-top: 30px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	padding-left: 10px;
}

#btn_inst5 a:link{
	background-color: #8d2218;
	float: left;
	height: 50px;
	width: 80px;
	padding-top: 30px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	padding-left: 10px;
}
#btn_inst5 a {
	background-color: #8d2218;
	float: left;
	height: 50px;
	width: 80px;
	padding-top: 30px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	padding-left: 10px;
}
#btn_inst5 a:hover {
	background-color: #8d2218;
	float: left;
	height: 50px;
	width: 80px;
	padding-top: 30px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	padding-left: 10px;
}
#btn_inst5 a:active {
	background-color: #8d2218;
	float: left;
	height: 50px;
	width: 80px;
	padding-top: 30px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	padding-left: 10px;
}
#btn_inst5_on {
	background-color: #CCC;
	float: left;
	height: 50px;
	width: 80px;
	padding-top: 30px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	padding-left: 10px;
}


#btn_inst3 a:link {
	background-color: #ae2a1c;
	float: left;
	height: 50px;
	width: 80px;
	padding-top: 30px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	padding-left: 10px;
}
#btn_inst3 a {
	background-color: #ae2a1c;
	float: left;
	height: 50px;
	width: 80px;
	padding-top: 30px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	padding-left: 10px;
}
#btn_inst3 a:hover {
	background-color: #ae2a1c;
	float: left;
	height: 50px;
	width: 80px;
	padding-top: 30px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	padding-left: 10px;
}
#btn_inst3 a:active {
	background-color: #ae2a1c;
	float: left;
	height: 50px;
	width: 80px;
	padding-top: 30px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	padding-left: 10px;
}
#btn_inst3_on {
	background-color: #CCC;
	float: left;
	height: 50px;
	width: 80px;
	padding-top: 30px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	padding-left: 10px;
}
.cuadro {
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	width: 90%;
	background-color: #666;
	height: 70px;
	padding-top: 15px;
	padding-left: 8%;
	padding-right: 2%;
	color: #FFF;
	margin-bottom: 40px;
}
