﻿<%@ Page Title="" Language="C#" MasterPageFile="~/frmPrincipal.Master" AutoEventWireup="true" CodeBehind="frmGenericError.aspx.cs" Inherits="ProcesoPP.UI.frmGenericError" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

    <h1 class="error2">Ha ocurrido un error.</h1>
<br />
<h3>Disculpe las molestias.</h3>

</asp:Content>
