﻿<%@ Master Language="C#"  AutoEventWireup="true" CodeBehind="frmPrincipal.master.cs" Inherits="ProcesoPP.UI.frmPrincipal" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title></title>
    <link rel="icon" href="iconos/favicon.ico" type="image/x-icon" />
    
    <link href="Css/estilos.css" rel="stylesheet" type="text/css"/>
    <link href="Css/acuerdo.css" rel="stylesheet" type="text/css"/>
    <link href="Css/nuevaSS.css" rel="stylesheet" type="text/css"/>
    <link href="Css/demo.css" rel="stylesheet" type="text/css"/>
    <link href="Css/calendar.css" rel="stylesheet" type="text/css" />
    <link href="Css/estilosPopUp.css" rel="stylesheet" type="text/css" />
    <link href="Css/messi.min.css" rel="stylesheet" type="text/css" />
    <link href="Css/messi.css" rel="stylesheet" type="text/css" />
    
    
    <script src='<%= ResolveClientUrl("~/Js/jquery-1.10.1.min.js") %>' type="text/javascript"></script>
    <script src='<%= ResolveClientUrl("~/Js/jquery-ui.js") %>' type="text/javascript"></script>
    <script src='<%= ResolveClientUrl("~/Js/messi.min.js") %>' type="text/javascript"></script>
    <script src='<%= ResolveClientUrl("~/Js/messi.js") %>' type="text/javascript"></script>
    <script src='<%= ResolveClientUrl("~/Js/Validadores.js") %>' type="text/javascript"></script>    
    <script src='<%= ResolveClientUrl("~/Js/popUp.js") %>' type="text/javascript"></script>
    <script src='<%= ResolveClientUrl("~/Js/calendar.js") %>' type="text/javascript" ></script>
    <script src='<%= ResolveClientUrl("~/Js/calendar-es.js") %>' type="text/javascript" ></script>
    <script src='<%= ResolveClientUrl("~/Js/calendar-setup.js") %>' type="text/javascript" ></script>
    <script src='<%= ResolveClientUrl("~/Js/Funciones.js") %>' type="text/javascript"></script>
    <!--[if IE]>
    <style type="text/css" media="all">
	    #capaPopUp 	{filter:alpha(opacity=65);}
    </style>
    <![endif]-->

    <script type="text/javascript">
//        $(function() {
////            $('#menu li a').click(function(event) {
////                var elem = $(this).next();
////                if (elem.is('ul')) {
////                    event.preventDefault();
////                    //$('#menu ul:visible').not(elem).slideUp();
////                    elem.slideToggle();
////                }
////            });
//            
//            $('li').click(function(ev) {
//                $(this).find('>ul').slideToggle();
//                ev.stopPropagation();
//            });
//        });

        $(window).load(function() {
            $('li').click(function(ev) {
                $(this).find('>ul').slideToggle();
                ev.stopPropagation();
            });
        });
        $('li').click(function(ev) {
            $(this).find('>ul').slideToggle();
            ev.stopPropagation();
        });

        function SetMenu(item) {
//            document.getElementById(item).className = "active";
            if (document.getElementById('ctl00_hfMenu') != null)
                document.getElementById('ctl00_hfMenu').value = item;
        }

        function setHidden() {
            if (document.getElementById('ctl00_hfMenu') != null) {
                if (document.getElementById('ctl00_hfMenu').value != "") {
                    var item = document.getElementById('ctl00_hfMenu').value;
                    lis = item.split(',');
                    if (lis.length > 0) {
                        for (i = 0; i < lis.length; i++) {
                            document.getElementById(lis[i]).className = "active";                            
                        }
                    }                    
                }
            }
        }
        
	</script>
  
    <asp:ContentPlaceHolder ID="head" runat="server"></asp:ContentPlaceHolder>
</head>
<body onload="setHidden();">
    <form id="form1" runat="server">
    <asp:HiddenField runat="server" ID="hfMenu"/>
        <div id="cuerpo">       
            <div id="menu_pri">                 
                <ul id="menu">
                <li class="principal"><a href='<%= ResolveClientUrl("~/frmPrincipal.aspx")%>'>Inicio</a></li>
               
			    <li id="liOperaciones" class="principal"><a href='#'>Operaciones</a>
                    <ul>
                        <li><a href='<%= ResolveClientUrl("SSe3/frmSSNueva.aspx?idModulo=1") %>'>1. Solicitud de Servicio</a></li>
                        <li><a href='<%= ResolveClientUrl("SSe3/frmSSGestion.aspx?idModulo=1") %>'>2. Gestión de SS Activas</a></li>
                        <li><a href='<%= ResolveClientUrl("SSe3/frmSSParteGestion.aspx?idModulo=4") %>'>3. Gestión de Parte</a></li>
                        <li><a href='<%= ResolveClientUrl("Regreso/frmSolicitudRegreso.aspx?idModulo=1") %>'>4. Gestión de SS Finalizadas</a></li>
                     </ul>
                </li>        
				
				<li id="liPersonal" class="principal"><a href='#'>Personal</a>
                    <ul >
                        <li><a href='<%= ResolveClientUrl("Personal/frmPersonalCarga.aspx?idModulo=11") %>'>1. Carga de Legajo</a></li>
                        <li><a href='<%= ResolveClientUrl("Personal/frmPersonalGestion.aspx?idModulo=11") %>'>2. Gestión de Legajos</a></li>
                        <li><a href='<%= ResolveClientUrl("Personal/frmPersonalHistorial.aspx?idModulo=11") %>'>3. Historial de Legajos</a></li>
                    </ul>
                </li>
                <li id="liVehiculos" class="principal"><a href='#'>Vehiculos</a>
                    <ul >
                        <li><a href='<%= ResolveClientUrl("Vehiculo/frmVehiculoCarga.aspx?idModulo=12") %>'>1. Carga de Vehículos</a></li>
                        <li><a href='<%= ResolveClientUrl("Vehiculo/frmVehiculoCarga.aspx?idModulo=12&EsEquipo=true") %>'>2. Carga de Equipos</a></li>
                        <li><a href='<%= ResolveClientUrl("Vehiculo/frmVehiculoGestion.aspx?idModulo=12") %>'>3. Gestión de Vehículos</a></li>
                        <li><a href='<%= ResolveClientUrl("Vehiculo/frmVehiculoGestion.aspx?idModulo=12&EsEquipo=true") %>'>4. Gestión de Equipos</a></li>
                        <li><a href='<%= ResolveClientUrl("Vehiculo/frmVehiculoHistorial.aspx?idModulo=12") %>'>5. Historial de Vehículos y Equipos</a></li>
                    </ul>
                </li>
			    <li id="liAcuerdo" class="principal"><a href="#">Acuerdo</a>
                    <ul id="Ul1">
                        <li><a href='<%= ResolveClientUrl("Acuerdo/frmAcuerdo.aspx?idModulo=14")%>'>1. Carga de Acuerdo</a></li>
                        <li><a href='<%= ResolveClientUrl("Acuerdo/frmAcuerdoGestion.aspx?idModulo=14")%>'>2. Gestión de Acuerdo</a></li>
                        <li><a href='<%= ResolveClientUrl("Acuerdo/frmAcuerdoHistorial.aspx?idModulo=14")%>'>3. Historial de Acuerdo</a></li>
                        <li><a href='<%= ResolveClientUrl("Acuerdo/frmAcuerdoBorrador.aspx?idModulo=14")%>'>4. Acuerdos Borradores</a></li>
                    </ul>
                </li>
                        			      
                <li id="liCargaDatos" class="principal"><a href='#'>Carga de Datos</a>
                    <ul>                       
					    <li id="liCarga"><a href="#">1. Operaciones</a>
                            <ul id="submenu">                                
                                <li><a href='<%= ResolveClientUrl("Administracion/frmEmpresa.aspx?idModulo=6")%>'>. Clientes</a></li>                        
                                <li><a href='<%= ResolveClientUrl("Administracion/frmSector.aspx?idModulo=6")%>'>. Sector</a></li>
                                <li><a href='<%= ResolveClientUrl("Administracion/frmSolicitante.aspx?idModulo=6")%>'>. Solicitantes</a></li>
                                <li><a href='<%= ResolveClientUrl("Administracion/frmTipoServicios.aspx?idModulo=6")%>'>. Tipo de Servicios</a></li>
                                <li><a href='<%= ResolveClientUrl("Administracion/frmEspecificacionTecnica.aspx?idModulo=6")%>'>. Vinculaciones</a></li>
                                <li><a href='<%= ResolveClientUrl("Administracion/frmGestionCuadrilla.aspx?idModulo=6")%>'>. Gestión de Cuadrilla</a></li>
                                <li><a href='<%= ResolveClientUrl("Administracion/frmCuadrilla.aspx?idModulo=6")%>'>. Cuadrilla</a></li>
                                <li><a href='<%= ResolveClientUrl("Administracion/frmEquipos.aspx?idModulo=6")%>'>. Equipos del Cliente</a></li>                              
                                <li><a href='<%= ResolveClientUrl("Administracion/frmLugar.aspx?idModulo=10")%>'>. Lugares</a></li>
                                <li><a href='<%= ResolveClientUrl("Administracion/frmLugarKms.aspx?idModulo=10")%>'>. Lugares - Kilometros</a></li>
                               
                               
                            </ul>
                        </li>
						
						 <li id="liCargaPersonal"><a href="#">2. Personal</a>
                            <ul id="submenu">
                                <li><a href='<%= ResolveClientUrl("Administracion/frmRelacion.aspx?idModulo=11")%>'>. Relación</a></li>
                                <li><a href='<%= ResolveClientUrl("Administracion/frmDiagrama.aspx?idModulo=11")%>'>. Diagrama</a></li>
                                <li><a href='<%= ResolveClientUrl("Administracion/frmModalidad.aspx?idModulo=11")%>'>. Modalidad</a></li>
                                <li><a href='<%= ResolveClientUrl("Administracion/frmFuncion.aspx?idModulo=11")%>'>. Funcion</a></li>
                                <li><a href='<%= ResolveClientUrl("Administracion/frmAcreditacionDeHaberes.aspx?idModulo=11")%>'>. Acreditación de Haberes</a></li>
                            </ul>
                        </li>
						
						
						 <li id="liCargaVehiculo"><a href="#">3. Vehiculo</a>
                            <ul id="submenu">
                                <li><a href='<%= ResolveClientUrl("Administracion/frmMarca.aspx?idModulo=6")%>'>. Marca</a></li>
                                <li><a href='<%= ResolveClientUrl("Administracion/frmCodificacion.aspx?idModulo=6")%>'>. Codificación</a></li>
                            </ul>
                        </li>
						
				        <li id="liAdministracion"><a href="#">4. Usuarios</a>
                            <ul id="submenu">
                                <li><a href='<%= ResolveClientUrl("Administracion/frmUsuario.aspx?idModulo=7")%>'>. Usuarios</a></li>
                                <li><a href='<%= ResolveClientUrl("Administracion/frmPermisos.aspx?idModulo=7")%>'>. Permisos</a></li>
                                <li><a href='<%= ResolveClientUrl("Reportes/frmHistorial.aspx?idModulo=7") %>'>. Historial</a></li>
                                <li><a href='<%= ResolveClientUrl("Remitos/RemitoNumeroUpdate.aspx?idModulo=7") %>'>. Modificar Nro. Remito</a></li>
                            </ul>
                        </li>												
                    </ul>   
                </li>
                  
								            
                <li id="liReportes" class="principal"><a href='#'>Reportes e Informes</a>
                    <ul>
                        <li><a href='<%= ResolveClientUrl("Reportes/frmReporteMovimientos.aspx?idModulo=5") %>'>1. Reporte de Servicios</a></li>                    
                        <li><a href='<%= ResolveClientUrl("Reportes/frmReporteActual.aspx?idModulo=5") %>'>2. Reporte Posicion Actual</a></li>   
						 <li><a href='<%= ResolveClientUrl("Reportes/frmReporteMensuales.aspx?idModulo=5") %>'>3. Reporte de Alquileres Mensuales</a></li>
						                 
                        <li><a href='<%= ResolveClientUrl("Reportes/frmSolicitudEliminadas.aspx?idModulo=5") %>'>4. Solicitudes Eliminadas</a></li>
                    </ul>
                </li>
                <li id="liRemito" class="principal"><a href='#'>Remitos</a>
                    <ul>
                        <li><a href='<%= ResolveClientUrl("SSe3/frmSSRemitoGestion.aspx?idModulo=8") %>'> 1. Gestión de Remitos</a></li>
                        <li><a href='<%= ResolveClientUrl("Remitos/frmRemitosAnulados.aspx?idModulo=9") %>'>2. Remitos Anulados</a></li>
                        <li><a href='<%= ResolveClientUrl("Remitos/frmRemitosGestion.aspx?idModulo=8") %>'>3. Historial de Remitos</a></li>
                        <li><a href='<%= ResolveClientUrl("SSe3/frmSSRemitoBonificadosGestion.aspx?idModulo=1") %>'> 4. Remitos Bonificados</a></li>
                    </ul>
                </li>
                </ul>
            </div>      
                  
            <div id="header">
                <div id="usuario">
                    <div class="solicitud50" style="width:80px;"><label>Usuario:</label></div>
                    <div class="solicitud50"><asp:Label runat="server" ID="lblUser"></asp:Label></div>
                </div>
                <div id="btn_acceso"><a href='<%= ResolveClientUrl("~/frmLogin.aspx")%>' style="width:80px;">Salir</a></div>
                <div id="btn_acceso"><a href='<%= ResolveClientUrl("~/Administracion/frmCambioContrasenia.aspx")%>' style="width:130px;">Modificar Contraseña</a></div>                
                <div id="btn_acceso"><a href='<%= ResolveClientUrl("~/instructivo/operaciones.html")%>' target="_blank" style="width:80px;">Ayuda</a></div>
            </div>          
            <div id="contenido">
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">   
                </asp:ContentPlaceHolder>
            </div>
       </div>
    </form>
</body>
</html>
