﻿<%@ Page Title="" Language="C#" MasterPageFile="~/frmPrincipal.Master" AutoEventWireup="true" CodeBehind="VerAdjunto.aspx.cs" Inherits="ProcesoPP.UI.Administracion.VerAdjunto" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
<link href="../Css/personal.css" rel="stylesheet" type="text/css" />
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<div id="celda_pbtns">
        <asp:Button ID="btn_cancelar" CssClass="btn_personal" Text="CANCELAR" runat="server"
            OnClick="btn_cancelar_Click" />
    </div>
</asp:Content>
